@use '/src/common/scss/vars';

@use 'scale/ecv';
@use 'scale/vtt';

@use 'inputs';

html {
  font-size: 14px;
}

body {
  margin: 0;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: min-content;
  overflow-x: hidden;
}

.taintedgrail {
  --primary: #89018b;
  background: url("../../assets/parchment.jpg") repeat;

  width: fit-content;
  font-family: var(--taintedgrail-font-family);

  > * {
    height: 100%;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  	-webkit-appearance: none;
  	margin: 0;
  }

  /* Firefox */
  input[type=number] {
  	appearance: textfield;
  	-moz-appearance: textfield;
    text-align: center;
  }
  h3 {
	font-size: 1.25em;
	margin: 0 0 0.5rem;
	padding: 0;
	font-weight: normal;
	border-bottom: 1px solid var(--color-underline-header);
  }

  .section {
    // border-radius: 0.5rem;
    // border: 2px solid var(--taintedgrail-primary);

    &__header {
      padding: 0.25rem 0.5rem;
      font-size: 1.25rem;
      background: var(--taintedgrail-primary);
      color: white;
      text-align: center;
      text-transform: uppercase;
    }
    &__body {
      padding-left: 0.5rem;
    }
  }

  .el-loading-mask {
    background-color: rgba(#010101, 0.75);

    .el-loading-spinner .path {
      stroke: black;
      stroke-width: 5;
    }
  }
}
