<div>
    {{#if (isEqualGreater total pfTest)}}
         <div class="age-spell-success">
            No Power Fatigue incurred
        </div>
    {{else}}
    <div class="age-spell-failure">
        A level of Power Fatigue incurred! 
    </div>
    {{/if}} 
</div>
<style>
    .age-spell-success {
        color:green;
        text-align: center;
        font-weight: 600; 
    }
    .age-spell-failure {
        color:red;
        text-align: center;
        font-weight: 600; 
    }
</style>