{{#if hasDuplicates}}
<hr>
<div style="
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    color:#1e4e7a;
">
<span>Stunt Points</span>
{{!-- <span>
  {{> stuntDie stuntPoints=(getStunt dice) title='test'}}
</span> --}}
<span>
    {{getStunt dice}}
</span> 
</div>
{{/if}}