<div class="hero-die">
  <button id="stunt-button" data-sheet-action="addToStunts" data-args={{stuntPoints}}:{{title}}>Add {{stuntPoints}} Stunt Points</button>
</div>
    {{!-- <script>
        // This function will be called when the button is clicked
        const disableButton = (event) => {
            console.log(event)
        }
    </script> --}}
{{!-- <script>
    $(document).ready(function() {
    $('#stunt-button').on('click', function() {
        debugger
      // Disable the button after it is clicked
      $(this).prop('disabled', true);
      
      // Optionally, you can change the button text
      $(this).text('Stunt Points Added');
    });
  });
</script> --}}