{{#> wrapper type="roll" keyValues=keyValues }}
  {{#if (isEqual "attack" rollType)}}
    {{#> header characterName=characterName title=title subtitle=subtitle}}{{/ header}}
    <div class="body">
      {{> rollDie dice=(getDice ../components multiplier) resultType=resultType }}
      
      {{> rollComponents components=components }}
      

      {{#if keyValues}}
        {{> keyValues keyValues=keyValues }}
      {{/if}}
      
      {{> rollStunt hasDuplicates=(hasDuplicates ../components multiplier) resultType=resultType dice=(getDice ../components multiplier)}}
      <div class='roll__component component' style="width: 100%;">
       <hr>
      <div style="
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: bold;
        color:rgba(0,0,0,0.87);">
    <span>Total</span>
    <span class=" showtip tipsy-n-right" original-title="{{> rollResults}}">
        {{> rollTotal total=(sumComponents ../components multiplier) resultType=resultType}}
    </span>  
    {{#if targetNumber}}
    {{> spellTN total=(sumComponents ../components multiplier) spellTN=targetNumber}}
    {{/if}}
  </div>
      
    {{#if textContent}}
      <div>
        {{> textContent textContent=textContent }}
      </div>
    {{/if}}
    {{!-- {{#if  dice=(hasDuplicates ../components multiplier)}}
        <p>There are duplicate numbers in the dice roll.</p>
      {{else}}
        <p>No duplicates in the dice roll.</p>
      {{/if}} --}}
      </div>
    </div>
  {{/if}}
    {{#if (isEqual "standard" rollType)}}
      {{#> header characterName=characterName title=title subtitle=subtitle}}{{/ header}}

      <div class="body">
        {{> rollDie dice=(getDice ../components multiplier) resultType=resultType }}
        {{> rollComponents components=components }}

        {{#if keyValues}}
          {{> keyValues keyValues=keyValues }}
        {{/if}}
        {{> rollStunt hasDuplicates=(hasDuplicates ../components multiplier) resultType=resultType dice=(getDice ../components multiplier)}}
        <hr>
        {{#if targetNumber}}
          <div class="age-roll-row">
            <span>TN</span>
            <span>
                {{targetNumber}}
            </span> 
          </div>
          <hr />
        {{/if}}
        <div class="age-roll-row">
          <span>Total</span>
          <span>
              {{> rollTotal total=(sumComponents ../components multiplier) resultType=resultType}}
          </span>   

        {{!-- {{#if  dice=(hasDuplicates ../components multiplier)}}
          <p>There are duplicate numbers in the dice roll.</p>
        {{else}}
          <p>No duplicates in the dice roll.</p>
        {{/if}} --}}
        </div>
        {{#if targetNumber}}
          {{> spellTN total=(sumComponents ../components multiplier) spellTN=targetNumber}}
        {{/if}}
        {{#if textContent}}
          <hr />
          <div>
            {{> textContent textContent=textContent }}
          </div>
        {{/if}}
    {{/if}}
  {{!-- Power Fatigue Test Roll --}}
  {{#if (isEqual "powerFatigue" rollType)}}
    {{#> header characterName=characterName title=title subtitle=subtitle}}{{/ header}}

    <div class="body">
      {{> rollDie dice=(getDice ../components multiplier) resultType=resultType }}
      <div style="margin-top: 14px;">
        <hr />
        <div class="age-roll-row">
          <span>Total</span>
          <span class=" showtip tipsy-n-right" original-title="{{> rollResults}}">
              {{> rollTotal total=(sumComponents ../components multiplier) resultType=resultType}}
          </span>
        </div>
        {{#if targetNumber}}
          {{> pfTest total=(sumComponents ../components multiplier) pfTest=targetNumber}}
        {{/if}}
        </div>      
    </div>
  {{/if}}
  {{!-- Damage Roll --}}
  {{#if (isEqual "damage" rollType)}}
  {{#> header characterName=characterName title=title subtitle=subtitle}}
    {{/ header}}

    <div class="body">
      <div class="age-roll-row">
        <span>Total</span>
        <span class=" showtip tipsy-n-right" original-title="{{> rollResults}}">
            {{> rollTotal total=(sumComponents ../components multiplier) resultType=resultType}}
        </span>
      </div>
    </div>
  {{/if}}
  {{#if (isEqual "spellDamage" rollType)}}

  {{#> header characterName=characterName title=title subtitle=subtitle}}
    {{/ header}}

    <div class="body">
      <div class="age-roll-row">
        <span>Total</span>
        <span class=" showtip tipsy-n-right" original-title="{{> rollResults}}">
            {{> rollTotal total=(sumComponents ../components multiplier) resultType=resultType}}
        </span>
      </div>
    </div>
  {{/if}}
{{/ wrapper }}
<style>
  .age-roll {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 6px 0;
    font-size: 50px;
  }
  .age-roll div:last-child {
    text-transform: uppercase;
    color:#1e4e7a;
  }
  .age-roll-row {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    color:rgba(0,0,0,0.87);
  }
</style>