<div class='quickstart-template'>
  {{#if trait}}
    <div class='quickstart-template__trait'>
      <div class='quickstart-template__trait__name'>{{trait.name}}</div>
      <div class='quickstart-template__trait__description'>{{trait.description}}</div>
    </div>
  {{/if}}
</div>