{{#> postWrapper type="roll" characterName=characterName bottomBarValues=bottomBarValues rollTile=rollTitle}}
  <div class="roll">
    <ul class="roll__dice-results">
      {{#each dice}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/ postWrapper }}