{{#> postWrapper type="roll" characterName=characterName bottomBarValues=bottomBarValues}}
  <div class="roll">
    <h4 class="roll__title">
      {{attribute}} + {{department}}
    </h4>
    <ul class="roll__dice-results">
      {{#each dice}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/ postWrapper }}