{{#> postWrapper type="roll" characterName=characterName }}
  <ul class="roll__dice-results">
    {{#each dice}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <div class="roll__bottom-line">
    <div class="roll__equation">
      {{ equation }}
    </div>
    <div class="roll__successes">
      Successes: {{ successes }}
    </div>
  </div>
{{/ postWrapper }}