{{#> postWrapper type="roll" characterName=characterName }}

  <div class="roll__bottom-line">
    <div class="roll__equation">
      {{ equation }}
    </div>
    <div class="roll__successes">
      Successes: {{ successes }}
    </div>
  </div>
{{/ postWrapper }}