.tg {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
.tg .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.tg form {
  height: 100%;
}
.tg .sheet-header {
  flex: 0 0 110px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.tg .sheet-header .profile-img {
  flex: 0 0 110px;
  height: 110px;
  margin-right: 10px;
}
.tg .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}
.tg .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.tg .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.tg .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}
.tg .resource input {
  width: 100px;
  height: 28px;
}
.tg .tabs {
  flex: 0 0 20px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.tg .tabs .item {
  line-height: 20px;
  font-weight: bold;
}
.tg .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.tg .sheet-body {
  overflow: hidden;
}
.tg .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.tg .editor,
.tg .editor-content {
  height: 100%;
}
.tg .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.tg .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #bbb;
  align-items: stretch;
}
.tg .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.tg .item-list .item-name {
  margin: 0;
}
.tg .item-list .item-controls {
  flex: 0 0 48px;
}
.tg .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.tg .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.tg .attributes {
  position: relative;
}
.tg .attributes .attribute-control,
.tg .attributes .group-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.tg .attributes .attribute-roll {
  flex: 0 0 20px;
  text-align: center;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tg .attributes .group-prefix {
  height: 31px;
  margin-right: 10px;
}
.tg .attributes .button {
  width: 100%;
  flex: 1;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  display: block;
}
.tg .attributes .attribute-key {
  background: transparent;
  border: none;
}
.tg .attributes-header {
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 5px;
  margin: 5px 0;
  background: #cfcdc2;
  border: 1px solid #aaa;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
}
.tg .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tg .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
}
.tg .attributes-list .attribute-col label {
  font-size: 10px;
  text-align: center;
  line-height: 1;
}
.tg .attributes-list .attribute-col input {
  font-size: 11px;
  text-align: center;
  line-height: 1;
  height: 50%;
}
.tg .attribute input[type='text']::placeholder,
.tg .group-header input[type='text']::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.tg .attribute input[type='text']:focus::placeholder,
.tg .group-header input[type='text']:focus::placeholder {
  opacity: 1;
}
.tg .group-controls {
  margin: 5px;
}
.tg .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tg .group {
  margin: 5px 0 0;
  padding: 0;
}
.tg .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 2px 5px;
}
.tg .group-key,
.tg .group-label {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  border-radius: 0;
  margin-right: 6px;
}
.tg .group-key {
  opacity: 0.75;
}
.tg .group-label {
  flex: 2;
}
.tg .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}

.tg.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}

.tg.sheet.item {
  min-width: 460px;
  min-height: 400px;
}

.tg .h-full {
  height: 100%;
}
.tg .item-list .item-buttons span {
  margin: 0 10px;
}
.tg .form-fields {
  margin-bottom: 2px;
}
.tg header.actor-sheet-header {
  flex: 0 0 312px;
  align-items: flex-start;
  margin-bottom: 0;
}
.tg header.actor-sheet-header .header-fields {
  flex: 1;
  height: auto;
}
.tg header.creature-sheet-header {
  flex: 0 0 110px;
  align-items: flex-start;
  margin-bottom: 0;
}
.tg header.creature-sheet-header .header-fields {
  flex: 1;
  height: auto;
}
.tg #description {
  resize: none;
}
.tg aside {
  flex: 0 0 110px;
  margin-right: 10px;
}
.tg aside#ways {
  height: 100%;
  overflow-y: auto;
}
.tg .sanity-table tr td:nth-child(2n) {
  border-right: 1px solid #aaa;
}
.tg .ways {
  text-align: center;
}
.tg .ways .form-fields {
  margin-bottom: 4px;
  border-bottom: 1px solid #aaa;
}
.tg .domains-and-disciplines > ul li {
  break-inside: avoid;
}
.tg .domains-and-disciplines ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tg .domains-and-disciplines ul li {
  line-height: 2em;
}
.tg .domains-and-disciplines ul li .flexrow > .form-fields {
  text-wrap: nowrap;
  text-align: right;
  min-width: 86px;
}
.tg .domains-and-disciplines ul li .flexrow {
  justify-content: flex-end;
  padding: 2px 0;
}
.tg .domains-and-disciplines ul li span {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.tg .domains-and-disciplines ul li label {
  padding: 0 5px;
}
.tg .domains-and-disciplines ul li input {
  max-width: 32px;
  text-align: center;
}
.tg .domains-and-disciplines ul li ul div.flexrow {
  padding-left: 10px;
}
.tg .domains-and-disciplines ul li:nth-child(even) {
  background: #cfcdc2;
}
.tg .tag {
  display: inline-block;
  margin: 0 2px 5px 0;
  padding: 2px 3px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid var(--color-border-light-tertiary);
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
.tg .tag i.fas:not(.fa-dice-d10) {
  margin-left: 4px;
}

.tg.actor .domains-and-disciplines > ul {
  column-count: 3;
}

.inventory-table tr td:first-child,
.inventory-table tr td:last-child {
  width: 32px;
}
.inventory-table tr td:nth-child(2) {
  width: calc(100% - 64px);
}
.inventory-table a[class^='rollable-'] img:hover {
  box-shadow: 0 0 8px var(--color-shadow-primary);
}

.flavor-text {
  margin-bottom: 0.5em;
}
.flavor-text img {
  width: 50px;
  height: 50px;
}
.flavor-text p {
  margin: 0 0 0 0.5em;
}

/* start tijdelijke opmaak voor demo */
.ascensionGaugeRadioValue:nth-child(1),
.ascensionGaugeRadioValue:nth-child(15n + 0),
.ascensionGaugeRadioValue:nth-child(45) {
  transform: scale(1.5);
}

textarea {
  border: 1px solid var(--color-border-light-tertiary);
}

.fa-eye {
  font-size: 13px;
}

aside {
  text-align: center;
}
aside .flex0 > div.form-fields {
  margin-bottom: 10px;
}
aside .flexcol .form-fields {
  margin: 5px 0;
  padding-bottom: 5px;
}
aside .flexcol .form-fields span {
  display: inline-block;
  margin: 3px 0;
}

.creature .sheet-body {
  overflow-y: scroll;
}

.actor-sheet-header .header-fields > div.flexrow > div.flexcol {
  padding: 2px;
}
.actor-sheet-header .header-fields .form-fields {
  padding: 2px;
}

.tag-fields {
  margin-bottom: 13px;
}
.tag-fields .tag {
  padding: 3px 6px;
}
.tag-fields .tag .fa-dice-d10 {
  padding-right: 4px;
}
.tag-fields .tag .fa-edit {
  padding-left: 4px;
}

.sheet-body {
  padding-top: 10px;
}
.sheet-body div[data-tab='combat'] .form-fields,
.sheet-body div[data-tab='ascension'] .form-fields {
  padding: 2px;
}

.column-p {
  padding: 0 6px;
}

.px-2 {
  padding: 0 2px;
}

.pb-10 {
  padding-bottom: 10px;
}

.item-list {
  margin-bottom: 15px !important;
}

.ascension-gauge-wrapper {
  margin: 10px 0;
}

.health-max-values {
  line-height: 25px;
  margin-bottom: 10px;
}

.creature-general-values {
  margin: 6px 0;
  padding: 0 2px;
}
.creature-general-values .form-fields {
  padding: 2px;
}

.health-divider {
  margin: 0 5px !important;
}
.health-divider:first-child {
  margin-left: 0;
}
.health-divider:last-child {
  margin-right: 0;
}

.sheet.creature .tag-fields {
  margin-bottom: 10px;
}

#domains-and-disciplines-modal tbody tr td:not(:first-child) {
  padding: 3px;
}
#domains-and-disciplines-modal input {
  text-align: center;
}

/* einde tijdelijke opmaak voor demo */
