.sta2--roll {
  .roll {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1/-1;
    z-index: 1;
    background-color: var(--rolltemplate-background-color);

    &__title {
      grid-column: span 6;
      font-size: .8rem;
      justify-self: center;
      align-self: center;
    }

    &__dice-results{
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1/-1;
      list-style: none;
      margin: 0;
      align-items: center;
      justify-items: center;

      li{
        font-size: 1.25rem;
        grid-column: span 2;
        &:nth-child(5n-4) {
          grid-column: 2 / span 2;
        }
      }
    }
  }
}