.sta2--roll {
  color: var(--primary-text-color);
  .roll {
    &__bottom-line {
      display: grid;
      grid-column: span 12;
      grid-template-columns: subgrid;
    }
    &__equation,
    &__successes {
      display: flex;
      justify-content: center;
      grid-column: span 6;
    }
  }
}