@use "./components/switch.scss";
@use "./generics.scss";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html {
  font-size: 16px;
  font-family: "Orbitron"
}

body {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: min-content;
  overflow-x: hidden;
}

