<rolltemplate class="sta2 sta2--{{type}}">
  <div class="info">
    {{#if characterName}}
      <div class="info__name">{{characterName}}</div>
    {{/if}}
  </div>
  {{> @partial-block }}
</rolltemplate>