{{#> wrapper type="roll" keyValues=keyValues }}
  {{#> header characterName=characterName title=title subtitle=subtitle}}
  {{/ header}}

  <div class="body">
    {{> rollTotal total=(sumComponents ../components multiplier) resultType=resultType}}

    {{#if allowCrit }}
	{{> critRoll resultType=resultType}}
    {{/if}}
    <details>
      {{> rollComponents components=components }}
    </details>

    {{#if keyValues}}
      {{> keyValues keyValues=keyValues }}
    {{/if}}

    {{#if textContent}}
      {{> textContent textContent=textContent }}
    {{/if}}

    {{#if traits}}
      <hr>
      <div class="trait-list">
        {{#each traits as |trait|}}
          <div class="trait">
            {{capitalize trait}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/ wrapper }}
