
$federation-blue: #c8e0ec;
$federation-blue-125: darken($federation-blue, 25%);
$federation-blue-50: lighten($federation-blue, 50%);
$federation-blue-25: lighten($federation-blue, 75%);
$federation-grey: #4f4f4f;
$federation-silver: #A5A5A5;
$federation-beige: #dfdfdf;
$federation-beige-50: #dfdfdf80;
$federation-beige-25: #dfdfdf40;
$federation-eng-red: #c82b2b;
$federation-comm-yellow: #d4a414;
$federation-sci-blue: #4393bc;

html {
  --switch-disabled: grey;
  --switch-enabled: orange;

  --popover-background: white;

  --primary-border-color: #{$federation-blue-125};

  --primary-text-color: #{$federation-blue-125};
  --secondary-text-color: #{$federation-grey};

  --secondary-background-color: #{$federation-blue};
  --tertiary-background-color: #{$federation-beige};

  --command: #{$federation-comm-yellow};
  --conn: #{$federation-comm-yellow};
  --engineering: #{$federation-eng-red};
  --security: #{$federation-eng-red};
  --medicine: #{$federation-sci-blue};
  --science: #{$federation-sci-blue};

  --subsection-header-size: .75rem;
}