@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,700&display=swap');

$examplesheet-primary-color: black;
$examplesheet-secondary-color: #452b52;

html * {
  --examplesheet-font-color: #{$examplesheet-primary-color};
  --examplesheet-contrast-font-color: white;
  // --examplesheet-font-family: 'Montserrat', 'Verdana', sans-serif;
  --examplesheet-input-border: 1px solid #{$examplesheet-secondary-color};
  --examplesheet-button-background-color: #{$examplesheet-secondary-color};
  --examplesheet-section-border: 1px solid #{$examplesheet-secondary-color};
  --examplesheet-primary: #1e4e7a;
  --examplesheet-secondary: #ebd7ea;
}
