@font-face{font-family:'Graphik';font-style:normal;font-weight:400;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikRegular.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:italic;font-weight:400;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikRegularItalic.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:normal;font-weight:250;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikThin.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:italic;font-weight:250;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikThinItalic.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:normal;font-weight:275;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikExtralight.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:italic;font-weight:275;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikExtralightItalic.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:normal;font-weight:300;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikLight.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:italic;font-weight:300;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikLightItalic.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:normal;font-weight:500;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikMedium.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:italic;font-weight:500;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikMediumItalic.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:normal;font-weight:600;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikSemibold.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:italic;font-weight:600;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikSemiboldItalic.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:normal;font-weight:700;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikBold.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:italic;font-weight:700;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikBoldItalic.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:normal;font-weight:900;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikBlack.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:italic;font-weight:900;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikBlackItalic.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:normal;font-weight:950;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikSuper.woff) format('woff')}
@font-face{font-family:'Graphik';font-style:italic;font-weight:950;src:local('Graphik'),url(https://fonts.cdnfonts.com/s/27112/GraphikSuperItalic.woff) format('woff')}


// Fantasy AGE
@font-face {
    font-family: 'Ringbearer';
    font-style: normal;
    font-weight: 500;
    src: local('Ringbearer'), url('https://fonts.cdnfonts.com/s/8406/RINGM___.woff') format('woff');
  }
  @font-face {
    font-family: 'Tanglewood Tales NF';
    font-style: normal;
    font-weight: 400;
    src: local('Tanglewood Tales NF'), url('https://fonts.cdnfonts.com/s/54733/TanglewoodTalesNF.woff') format('woff');
}
@font-face {
    font-family: 'Sanitarium BB';
    font-style: normal;
    font-weight: 400;
    src: local('Sanitarium BB'), url('https://fonts.cdnfonts.com/s/27991/SanitariumBB.woff') format('woff');
}
@font-face {
    font-family: 'Technovia';
    font-style: normal;
    font-weight: 400;
    src: local('Technovia'), url('https://fonts.cdnfonts.com/s/60189/technott.woff') format('woff');
}
@font-face {
    font-family: 'American Captain';
    font-style: normal;
    font-weight: 400;
    src: local('American Captain'), url('https://fonts.cdnfonts.com/s/13747/American Captain.woff') format('woff');
}

// Modern AGE
@font-face {
    font-family: 'Eternal Knight';
    font-style: normal;
    font-weight: 400;
    src: local('Eternal Knight'), url('https://fonts.cdnfonts.com/s/22066/eternalknight.woff') format('woff');
}
@font-face {
    font-family: 'Eternal Knight Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Eternal Knight Bold'), url('https://fonts.cdnfonts.com/s/22066/eternalknightbold.woff') format('woff');
}
@font-face {
    font-family: 'Eternal Knight Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Eternal Knight Condensed'), url('https://fonts.cdnfonts.com/s/22066/eternalknightcond.woff') format('woff');
}
@font-face {
    font-family: 'Archive';
    font-style: normal;
    font-weight: 400;
    src: local('Archive'), url('https://fonts.cdnfonts.com/s/52090/Archive.woff') format('woff');
}
@font-face {
    font-family: 'Archive';
    font-style: italic;
    font-weight: 400;
    src: local('Archive'), url('https://fonts.cdnfonts.com/s/52090/ArchiveItalic.woff') format('woff');
}
@font-face {
    font-family: 'Archive';
    font-style: normal;
    font-weight: 700;
    src: local('Archive'), url('https://fonts.cdnfonts.com/s/52090/ArchiveBold.woff') format('woff');
}

// Blue Rose AGE
@font-face{
    font-family:'Palatino';
    font-style:normal;
    font-weight:400;
    src:local('Palatino'),url(https://fonts.cdnfonts.com/s/56559/palr45w.woff) format('woff')
}
@font-face{
    font-family:'UglyQua';
    font-style:normal;
    font-weight:500;
    src:local('UglyQua'),url(https://fonts.cdnfonts.com/s/450/UglyQua.woff) format('woff')
}

@font-face{
    font-family:'UglyQua';
    font-style:italic;
    font-weight:500;
    src:local('UglyQua'),url(https://fonts.cdnfonts.com/s/450/UglyQua-Italic.woff) format('woff')
}