@use '/src/common/scss/vars';

@use 'scale/ecv';
@use 'scale/vtt';

@use 'inputs';

@use 'characterType/npc.scss';
@use 'characterType/pc.scss';

@use 'icons/combat';
@use 'icons/tabs';
@use 'icons/inventory';
@use 'icons/headerToggles';
@use 'icons/qualities.scss';
@use 'product/fage.scss';
@use 'product/mage.scss';
@use 'product/bluerose.scss';
@use 'product/expanse.scss';
@use 'fonts';
// TODO IN FUTURE?
// @use 'product/threefold.scss';
// @use 'product/titansgrave.scss';
// @use 'product/cthulhu.scss';


// $ageFAGE2eColor: #1e4e7a;
// $ageCthulhuColor: #1D3729;
// $ageBlueRoseColor: #007bba;
// $ageMAGEColor: #027CAC;
// $ageThreeFoldColor: #09697e;
// $ageFifthEdColor: #7f0000;
// $ageExpanseColor: #3c002d;
// $ageThreeFold2Color:#585183;
* {
  scrollbar-width: thin;
  --theme-color:#1e4e7a;
  // --background-image: url('https://i.ibb.co/8z6wS4c/4.png');
}
html {
  font-size: 14px;
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
}
body {
  background-size:unset;  
  scrollbar-width:thin;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: min-content;
  overflow-x: hidden;
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  & .age-btn {
    line-height: 100%;
    padding: 4px;
    border-radius: 8px;
    font-weight: 600;    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 12px;
    transition: var(--ease-all);
  }  
  & .age-btn:hover:not(:disabled) {
    filter: brightness(102%);
  }
  & .age-icon-btn {
    background: none;
    border: none;
    font-size: 16px;
    transition: var(--ease-all);
  }
  & .age-icon-btn-sm {
    background: none;
    border: none;
    font-size: 10px;
    transition: var(--ease-all);
    &:disabled {
      opacity: .5;
      pointer-events: none;
    }
  }
  & .age-icon-btn:hover:not(:disabled), & age-icon-btn-sm:hover:not(:disabled) {
    filter: brightness(150%);
  }
  & .delete-icon-btn {
    background: none;
    color: #dc3545;
    border: none;
    font-size: 16px;
  }
  & .age-reset-btn {
    position: absolute;
    left: 0;
    top:24%;
  }
  & .age-btn-disabled {
    color: #FFF;
    pointer-events: none;
    background-color: #6c757d;
    border-color: #6c757d;
    opacity: 0.65;
  }
  & .age-toggle-label {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  & .age-toggle-label-disabled {
    opacity: .5;
  }
  & .age-input-label {
    font-weight: 500;
  }
  & main {
    transition: var(--ease-all);
    margin:1rem;
    & .age-header-menu {
      display: none;
    }
    & .age-sheet{
      max-width: 1440px;
      place-self: center;
    }
    & .age-conditions {
      padding: 4px 30px;
      font-size: 12px;
    }
    & .age-conditions-main {
      display: none;
    }
    & .age-conditions-secondary {
      display: block;
    }    
    & .header-section {
      grid-column: span 2;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 24px;
    }      
    & .section-card {
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 12px;
        position: relative;
        width: 100%;   
        padding: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & .age-character-bio-container {
          & .age-character-bio-value {
            font-size: clamp(14px, 1.15rem, 1rem);
            font-weight: bold;
            padding: 2px 0;
          }  
        }
        & .nav-tabs {
          
        }
        & .age-character-bio {
          & .age-level-label {
            font-size:18px;
            text-align: center;
            width: 30px;
            position: absolute;
            bottom: 10px;
            left: 5px;
            clip-path: polygon(
              10px 0px,
              /* Top left corner */ calc(100% - 10px) 0px,
              /* Top right corner */ 100% 10px,
              /* Right top corner */ 100% calc(100% - 10px),
              /* Right bottom corner */ calc(100% - 10px) 100%,
              /* Bottom right corner */ 10px 100%,
              /* Bottom left corner */ 0px calc(100% - 10px),
              /* Left bottom corner */ 0px 10px
            );
          }
          & .bio__avatar {
            padding: 5px 0 0;
            & img {
              max-height: 140px;
            }
          }
        }
        // AGE Border with Octogon Shape
        & .age-container-wrap {
          width:200px;
          height:200px;
          float: left;
          position: relative;
          overflow: hidden;
        }
        & .age-container-content {
          position: relative;
          box-sizing: border-box;
          border: 3px solid;
          background: #FFF;
          text-align: center;
          & .age-container-heading {
            color: #fff;
            width: 100%;
            text-align: center;
            white-space: pre;
          }
          
          & .age-num-input {
            padding: 8px 0 8px 10px;
            margin-left: 6px;
          }
          & .age-num-value {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            line-height: 26px;
            padding: 2px 0;
            position: relative;
            overflow: hidden;
            display: block;
            width: 100%;
            & .age-ability-primary {
              height: 90px;
              width: 90px;
              position: absolute;
              left: calc(50% - 45px);
              top: calc(50% - 45px);
              z-index: 1;
              opacity: 0.15;
              background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M298.736 21.016c-99.298 0-195.928 104.647-215.83 233.736-7.074 45.887-3.493 88.68 8.512 124.787-4.082-6.407-7.92-13.09-11.467-20.034-16.516-32.335-24.627-65.378-25-96.272-11.74 36.254-8.083 82.47 14.482 126.643 27.7 54.227 81.563 91.94 139.87 97.502 5.658.725 11.447 1.108 17.364 1.108 99.298 0 195.93-104.647 215.83-233.736 9.28-60.196.23-115.072-22.133-156.506 21.625 21.867 36.56 45.786 44.617 69.496.623-30.408-14.064-65.766-44.21-95.806-33.718-33.598-77.227-50.91-114.995-50.723-2.328-.118-4.67-.197-7.04-.197zm-5.6 36.357c40.223 0 73.65 20.342 95.702 53.533 15.915 42.888 12.51 108.315.98 147.858-16.02 54.944-40.598 96.035-79.77 126.107-41.79 32.084-98.447 24.39-115.874-5.798-1.365-2.363-2.487-4.832-3.38-7.385 11.724 14.06 38.188 14.944 61.817 1.3 25.48-14.71 38.003-40.727 27.968-58.108-10.036-17.384-38.826-19.548-64.307-4.837-9.83 5.676-17.72 13.037-23.14 20.934.507-1.295 1.043-2.59 1.626-3.88-18.687 24.49-24.562 52.126-12.848 72.417 38.702 45.923 98.07 25.503 140.746-6.426 37.95-28.392 72.32-73.55 89.356-131.988 1.265-4.34 2.416-8.677 3.467-13.008-.286 2.218-.59 4.442-.934 6.678-16.807 109.02-98.412 197.396-182.272 197.396-35.644 0-65.954-15.975-87.74-42.71-26.492-48.396-15.988-142.083 4.675-185.15 26.745-55.742 66.133-122.77 134.324-116.804 46.03 4.027 63.098 58.637 39.128 116.22-8.61 20.685-21.192 39.314-36.21 54.313 24.91-16.6 46.72-42.13 59.572-73 23.97-57.583 6.94-113.422-39.13-116.805-85.737-6.296-137.638 58.55-177.542 128.485-9.21 19.9-16.182 40.35-20.977 60.707.494-7.435 1.312-14.99 2.493-22.652C127.67 145.75 209.275 57.373 293.135 57.373z"/></svg>');
            }
          }
        }
        & .age-container-content::before, .age-container-content::after  {
          content: '';
          position: absolute;
          width: 15px; /* Corner width */
          height: 15px; /* Corner height */
          background-color: white; 
        }
        /* Top-left and bottom-right corners */
        & .age-container-content::before {
          top: -8px;
          left: -8px;
          transform:rotate(135deg);
          border-top: 3px solid;
    
        }
        & .age-container-content::after {
            bottom: -8px;
            right: -8px;
            transform:rotate(-45deg);
            border-top: 3px solid;
    
        }
        & .age-container-content-corner-top-right {
          position: absolute;
          top: -8px;
          right: -8px;
          width: 15px;
          height: 15px;
          background-color: white;
          transform:rotate(-135deg);
          border-top: 3px solid;
    
        } 
        & .age-container-content-corner-bottom-left {
            position: absolute;
            bottom: -8px;
            left: -8px;
            width: 15px;
            height: 15px;
            background-color: white;
            transform:rotate(45deg);
            border-top: 3px solid ;
        }
        & .bio-sub-section {
          display: grid; 
          grid-template-columns: 1fr 1fr 80px;
          flex: 1 1 auto;
          gap: 20px;
          padding: 0 22px;
          margin-bottom: -6px;
          & .age-subsection-header {
            text-align: center;
            margin-bottom: 0;
          }
        }
        & .age-activity-accordon-row {
          margin:-7px -7px;
          position: relative;
        }
        & .age-ability-scores-container {
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          grid-gap: 10px;
          & button {
            background: none;
            border: none;
            width: 100%;
            padding: 0;
          }
        }
        & .age-combat-accordion-header {
          & .age-weapon-name {
            font-weight: 500;
            font-size: 1.1rem;
          }
          & .age-combat-icon {
            grid-area: icon;
            position: relative;
          }
          & .age-combat-name {
            grid-area: name;
          }
          & .age-combat-range {
            grid-area: range;
          }
          & .age-combat-attack {
            grid-area: attack;
          }
          & .age-combat-damage {
            grid-area: damage;
          }
          & .age-combat-details {
            grid-area: details;
          }
          & .age-combat-config {
            grid-area: edit;
          }
          & .age-combat-accordion {
            grid-area: accordion;
          }
        }
        & .age-orb-container {
          display: grid;
          align-items: center;
          grid-template-columns: 1fr 1fr 1fr;
          height: 100%;
          & .age-orb{
            background-color:rgba(0,0,0,0.2);
            height: 20px;
            width: 20px;
            margin-right: 6px;
            margin-top: -2px;
            mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23fff" d="M256 23.05C127.5 23.05 23.05 127.5 23.05 256S127.5 488.9 256 488.9 488.9 384.5 488.9 256 384.5 23.05 256 23.05z"/></svg>');
          }
          & .age-orb-highlight {
          }
        }    
        & .age-biography-section {
          padding:5px;
          display: flex;
          flex-direction: column;
          & .age-bio-textarea {
            width: 100%;
          }
        }
        & h3.age-bio-header {
          font-size: 1.25rem;
          padding: 10px 0 0;
        }
        & .age-bio-appearance {
          display: grid;
          grid-template-columns: repeat(3,1fr);
          grid-gap: 5px;
        }
        & .age-section-header {
          font-size: 1.7rem;
          padding: 0 10px;
        }
        & .age-label {
          // background-color: $ageFAGE2eColor;
          // clip-path: polygon(
          //   10px 0px,
          //   /* Top left corner */ calc(100% - 10px) 0px,
          //   /* Top right corner */ 100% 10px,
          //   /* Right top corner */ 100% calc(100% - 10px),
          //   /* Right bottom corner */ calc(100% - 10px) 100%,
          //   /* Bottom right corner */ 10px 100%,
          //   /* Bottom left corner */ 0px calc(100% - 10px),
          //   /* Left bottom corner */ 0px 10px
          // );
          position: relative;
          padding:2px;
          & .age-label-content {
            color: #000;
            background: #fff;
            // clip-path: polygon(
            //   10px 0px,
            //   /* Top left corner */ calc(100% - 10px) 0px,
            //   /* Top right corner */ 100% 10px,
            //   /* Right top corner */ 100% calc(100% - 10px),
            //   /* Right bottom corner */ calc(100% - 10px) 100%,
            //   /* Bottom right corner */ 10px 100%,
            //   /* Bottom left corner */ 0px calc(100% - 10px),
            //   /* Left bottom corner */ 0px 10px
            // );
            & .age-content-value {
              font-size: 24px;
              font-weight: bold;
              text-align: center;
              line-height: 26px;
              padding-bottom: 5px;
              position: relative;
              overflow: hidden;
            }
          }
          
        }
        & .age-character-bio {
          & .age-character-details {
            padding: 5px 0;
          }
          & .age-character-name {
            font-size: 2rem;
          }
           
        }
        // & .age-ability-scores-container {
        //   display: grid;
        //   grid-template-columns: repeat(3, minmax(0, 1fr));
        //   grid-gap: 10px;
        //   padding: 10px;
        // }
        & .age-ability-scores-container-npc {
          & .age-label {
          clip-path: none;
          background: none;
          line-height: inherit;
          & .age-label-heading {
            background: none;
            color:rgba(0,0,0,0.87);
            text-align: left;
            & .accordion-button::after {
              background: #FFF;
              mask-image: var(--bs-accordion-btn-active-icon);
            }
            & .accordion-button:not(.collapsed)::after {
              background: #FFF;
              mask-image: var(--bs-accordion-btn-active-icon);
            }
          }
          & .age-label-content {
            clip-path: none;
            background: none;
            display: grid;
            grid-template-columns: 1fr 25px;
            grid-template-rows: repeat(1, 14px);
            & .age-content .age-ability-value {
              font-size: 14px;
              line-height: initial;
              padding-bottom: 0;
            }
          }
          }
        }
        & .hpmp-container {
          font-size: 24px;
          font-weight: 600;
          display: grid;
          grid-template-columns: minmax(0, 1fr) min-content minmax(0, 1fr);
          & .hpmp-current {
            display: flex;
            justify-content: center;
          }
          & .hpmp-current input::-webkit-outer-spin-button,
          .hpmp-current input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          
          /* Firefox */
          & .hpmp-current input[type=number] {
            -moz-appearance: textfield;
            padding-bottom: 0;
          }
          .hpmp-max {
            /* width:70px; */
            text-align: center;
        }
        }        
        .age-input {
          width: 55px;
          font-size: 24px;
          font-weight: 600;
          text-align: center;
          line-height: 26px;
          padding-bottom: 5px;
          border: none;
          background: none;
        }
        & .age-ability-scores {
          padding:2px;
          & .age-ability-value {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            line-height: 26px;
            padding-bottom: 5px;
            position: relative;
            overflow: hidden;
            & .age-ability-primary {
              height: 90px;
              width: 90px;
              position: absolute;
              left: calc(50% - 45px);
              top: calc(50% - 45px);
              z-index: 1;
              opacity: 0.15;
              background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M298.736 21.016c-99.298 0-195.928 104.647-215.83 233.736-7.074 45.887-3.493 88.68 8.512 124.787-4.082-6.407-7.92-13.09-11.467-20.034-16.516-32.335-24.627-65.378-25-96.272-11.74 36.254-8.083 82.47 14.482 126.643 27.7 54.227 81.563 91.94 139.87 97.502 5.658.725 11.447 1.108 17.364 1.108 99.298 0 195.93-104.647 215.83-233.736 9.28-60.196.23-115.072-22.133-156.506 21.625 21.867 36.56 45.786 44.617 69.496.623-30.408-14.064-65.766-44.21-95.806-33.718-33.598-77.227-50.91-114.995-50.723-2.328-.118-4.67-.197-7.04-.197zm-5.6 36.357c40.223 0 73.65 20.342 95.702 53.533 15.915 42.888 12.51 108.315.98 147.858-16.02 54.944-40.598 96.035-79.77 126.107-41.79 32.084-98.447 24.39-115.874-5.798-1.365-2.363-2.487-4.832-3.38-7.385 11.724 14.06 38.188 14.944 61.817 1.3 25.48-14.71 38.003-40.727 27.968-58.108-10.036-17.384-38.826-19.548-64.307-4.837-9.83 5.676-17.72 13.037-23.14 20.934.507-1.295 1.043-2.59 1.626-3.88-18.687 24.49-24.562 52.126-12.848 72.417 38.702 45.923 98.07 25.503 140.746-6.426 37.95-28.392 72.32-73.55 89.356-131.988 1.265-4.34 2.416-8.677 3.467-13.008-.286 2.218-.59 4.442-.934 6.678-16.807 109.02-98.412 197.396-182.272 197.396-35.644 0-65.954-15.975-87.74-42.71-26.492-48.396-15.988-142.083 4.675-185.15 26.745-55.742 66.133-122.77 134.324-116.804 46.03 4.027 63.098 58.637 39.128 116.22-8.61 20.685-21.192 39.314-36.21 54.313 24.91-16.6 46.72-42.13 59.572-73 23.97-57.583 6.94-113.422-39.13-116.805-85.737-6.296-137.638 58.55-177.542 128.485-9.21 19.9-16.182 40.35-20.977 60.707.494-7.435 1.312-14.99 2.493-22.652C127.67 145.75 209.275 57.373 293.135 57.373z"/></svg>');
            }
          }
          & .age-abilities-btn {
            background: none;
            border:none;
            padding: 0;
            width: 100%;
          }
        }
        & .age-actions, .age-defense, .age-movement {
          display: grid;    
          // grid-template-columns: repeat(3, minmax(75px, 1fr));
          grid-gap: 10px;
          padding: 2px 10px;
          & .age-stunt-content {
            text-align: center;
            padding-left: 16px;
          }
          & .age-stunt-input {
            width: 100%;
            border: none;
            text-align: center;
            font-size: 1.75rem;
            font-weight: bold;
          }
          & .age-armor-stats {
            grid-column: span 2;
          }
        }
        & .age-movement { 
          grid-template-columns: repeat(3, minmax(75px, 1fr));
        }
        & .age-custom-movement {
          padding: 0 10px;
          & .age-custom-movement-entry {
            display: flex;
            justify-content: space-between;
            padding: 2px;
            &__inputs {
              display: flex;
              gap: 8px;
            }
            &__delete {
              opacity: .25;
            }
            &__delete:hover {
              opacity: 1;
            }
          }
        }
        & .age-actions-mage {
          display: grid;    
          grid-template-columns: repeat(2, minmax(75px, 1fr));
          grid-gap: 10px;
          padding: 10px;
          // & .age-actions-spellpower {
          //   grid-column: span 2;
          // }
        }
        & .age-tabs-container {
          flex-wrap: nowrap;
          border-bottom:none;
          gap:5px;
          margin-left: 10px;
        }
        & .age-tab {
          & button {
            display: grid;
            grid-template-columns: 25px 1fr;
            border-radius: 15px;
            font-size: 1.25rem;
            border:1px solid;
            padding: 2px 10px;
            background: #FFF;
            & .age-tab-label {
              line-height: 100%;
              padding-top: 5px;
            }
          }
          & .active {
            color:#FFF;            
          }
          & .age-tab-icon {
            margin-top:0;
          }
        } 
        & .age-combat-unarmed {
          display: flex;
          justify-content: flex-end;
          padding:0 5px 5px;
          & .age-combat-unarmed__toggle {
            height: 25px;
            width: 25px;
            mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23fff" d="M91.773 25.994C189.313 167.854 104.52 157.17 65.64 169.2c38.8 52.918 16.554 102.644-44.503 133.788 52.5 21.085 122.25 30.452 42.027 141.707 79.578-45.024 134.707-48.82 127.13 53.15 57.795-58.495 133.043-87.973 208.054-38.53-8.558-73.916 12.66-106.284 86.88-74.4-79.58-73.01-46.696-116.363.458-158.83-81.492-3.232-92.92-65.497-89.922-139.92-49.183 53.518-86.497 47.756-104.002-56.962-33.806 76.857-79.335 125.91-199.99-3.21zM202.15 135.336c16.1.356 25.565 12.198 34.666 24.678L177.312 263.08c-20.422 1.985-35.31-4.577-41.787-24.123l59.51-103.074c1.93-.326 3.772-.503 5.537-.545.534-.013 1.06-.014 1.578-.002zm69.037 11.197c16.1.352 25.567 12.2 34.668 24.676L238.947 290.24c-20.423 1.985-35.31-4.586-41.785-24.127l66.91-119.03c1.93-.327 3.772-.507 5.537-.55.533-.013 1.058-.013 1.577-.002zm58.704 32.05c16.102.357 25.567 12.198 34.67 24.673l-65.945 117.547c-20.423 1.98-35.31-4.58-41.783-24.123l65.94-117.55c1.93-.325 3.773-.502 5.54-.544.532-.013 1.06-.013 1.58-.002zm46.342 55.233c16.773.098 26.746 11.977 36.354 24.485l-55.557 96.227c-20.026 1.297-34.856-5.367-41.786-24.125l55.56-96.224c1.887-.255 3.693-.372 5.428-.362zM127.55 271.713l105.83 47.52c3.015 21.69-2.782 38.788-21.958 48.91L105.588 320.62c-4.508-21.618 8.273-35.485 21.96-48.907z"/></svg>');
            background-color: var(--theme-primary);
          }
          & .age-checkbox-toggle {
            margin-top: 4px;
          }
        }
        & .filtered-list-enter-active, .filtered-list-leave-active {
          transition: max-height 0.4s ease, opacity 0.4s ease;
        }
        
        & .filtered-list-enter, .filtered-list-leave-to {
          max-height: 0;
          opacity: 0;
        }
        
        & .filtered-list-enter-to {
          max-height: 200px;
          opacity: 1;
        }
        
        & .no-results {
          margin-top: 10px;
          font-size: 1rem;
          color: #666;
        }
        & .age-currency-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr; 
          padding: 5px;
          position: relative;
          grid-gap: 15px;
          height:60px;
          margin-bottom: 10px;
          width: min-content;
          min-width: 100%;
          &__coin {
            position: relative;
            height: 25px;
            border-radius: 0.5rem;
            padding-left: 50px;
            margin-left: 10px;
            &-gold {
              background-image: url(src/assets/currency/gold.png);
            }
            &-silver {
              background-image: url(src/assets/currency/silver.png);
            }
            &-copper {
              background-image: url(src/assets/currency/copper.png);
            }
            &-gold,&-copper,&-silver {
              height: 75px;
              width: 50px;
              background-size: cover;
              background-repeat: no-repeat;
              position: absolute;
              left: -10px;
              top: -24px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 22px;
              font-weight: 600;
              font-family: 'Ringbearer', sans-serif;
              color: rgba(0, 0, 0, 0.7);
            }
          }
          & .currency {
            overflow: hidden;
            position: absolute;
            color: #000;
            font-size: 1.5rem;
            transform: rotate(-45deg);
            width: 98%;
            height: 105%;
            text-align: center;
            /* text-shadow: 0 3px 0 #cb7407; */
            z-index: 3;
            border-radius: 50%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.75;
            color: rgba(0, 0, 0, 0.7);
            &__value {
              background: none;
              border:none;
              height: 100%;
              font-weight: bold;
              width: 100%;
              color:#FFF;
              font-size: 1.5rem;
            }
            & input::-webkit-outer-spin-button,
            & input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            
            /* Firefox */
            & input[type=number] {
              -moz-appearance: textfield;
            }
          }
        }   
      
      & .age-dmg-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
        padding: 5px;
        & .age-dmg-label {
          vertical-align: middle;
          line-height: 25px;
          font-weight: 500;
        }
      }
      & .age-combat-footer {
        display: grid;
        grid-template-columns: 1fr 75px;
        & .age-combat-wg {
          display: flex;
          align-items: center;
          height: 100%;
          flex-wrap: wrap;
          background: #fff;
          padding: 0 5px;
        }
      }
      & .age-label-black {
        // width: 100%; /* or any other percentage based on your layout */
        // padding: 2px 0;
        background-color: rgba(0,0,0,0.87);
        border-color: rgba(0,0,0,0.87);
        // clip-path: polygon(
        //   10px 0px,
        //   /* Top left corner */ calc(100% - 10px) 0px,
        //   /* Top right corner */ 100% 10px,
        //   /* Right top corner */ 100% calc(100% - 10px),
        //   /* Right bottom corner */ calc(100% - 10px) 100%,
        //   /* Bottom right corner */ 10px 100%,
        //   /* Bottom left corner */ 0px calc(100% - 10px),
        //   /* Left bottom corner */ 0px 10px
        // );
        position: relative;
        display: grid;
        grid-template-columns: minmax(75px, 150px) 1fr;
        padding: 0;
        // background: #FFF;
        grid-gap: 5px;
        border-style: solid;
        & .age-label-side-heading-black {
          display: grid;
          align-items: center;
          color: #fff;
          width: 100%;
          height: 100%;
          font-size: 1.4rem;
          padding-top: 2px;
        }
      }
      & .age-search-input {
        min-width: 200px;
        max-width: 50%;
        position: relative;
        & .age-search-input-clear-btn {
          color:rgba(0,0,0,0.3);
          position: absolute;
          right: 0;
          top: 1px;   
        }
      }
    }
    & .accordion-body {
      width: min-content;
      min-width: 100%;
    }
  }
  & .age-btn {
    border-radius: 4px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
  & .system-header {
    display: grid;
    grid-template-columns: 150px 1fr;
    // place-self: center;
    // min-width: calc(100% - 125px);
  }
  & .age-header-btn-container {
    display: flex;
    gap: 20px;
    margin:0 0 0 20px;
    max-height: 25px;
    & .age-header-btn {
      flex:1;
      & button {
        font-weight: 500;
        height: 100%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        white-space: nowrap;
      }
      & .active {
        color: #ecf6ff;
        & .age-toggle-btn-icon {
          background-color: #FFF;
        }
      }
    }
  }
  & .age-modal {
    min-width: 300px;
    width: 100%;
    max-width: fit-content;
    margin: auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    & .age-modal-header, .age-modal-details-header {
      display: flex;
      justify-content: space-between;
      text-transform: lowercase;
      & h3 {
        font-size: 2rem;
      }
    }
    & .age-modal-container {
      row-gap: 10px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      max-height: 70vh;
      overflow-x: hidden;
    }
    & .modal-footer-actions {
      display: flex;
      gap: 40px;
    }
    & .age-input-group {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: auto;
    }
    & .age-ability-scores {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 0 20px;
      & .age-input-label {
        width: 125px;
      }
    }
    & .age-select {
      height: auto;
    }
    & .age-spell-modal-body {
      display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    }
  }
  & .age-checkbox-toggle {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18px;
    & input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    & .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    & .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
    & .slider.round {
      border-radius: 34px;
    }
    & input:checked + .slider {
    }
    
    & input:focus + .slider {
    }
    
    & input:checked + .slider:before {
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px);
    }
  }
  & .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
    & .modal-container {
      min-width: 300px;
      width: fit-content;
      margin: auto;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      transition: all 0.3s ease;
      max-height: 90vh;
      display: flex;
      flex-direction: column;
      max-width: 75vw;
    }
    & .age-qualities-modal {
      width:70vw;
      transition: all .5s linear;
    }
    & .age-magic-modal {
      width:70vw;
      transition: all .5s linear;
    }
    & .age-familiarity-modal {
      width: 15vw;
      transition: all 0.5s linear;
      min-width: 275px;
    }
    & .modal-header h3 {
      margin-top: 0;
      color: #42b983;
    }
    
    & .modal-body {
      margin: 20px 0;
      overflow-y: auto;
      max-height: 70vh;
      overflow-x: hidden;
    }
    & .age-quality-modifiers {
      padding: 15px 0;
    }
    & .age-wg-list {
      display: grid;
      grid-template-columns: repeat(5,1fr);
      grid-gap: 10px 20px;
      & .age-wg-item {
        display: flex;
        align-items: center;
        font-size: 1.15rem;
        font-weight: 500;
        & input {
          margin-right: 5px;
          margin-bottom: 2px;
        }
      }
    }
    & .modal-default-button {
      float: right;
    }
    
    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */
    
    & .modal-enter-from {
      opacity: 0;
    }
    
    & .modal-leave-to {
      opacity: 0;
    }
    
    & .modal-enter-from .modal-container,
    .modal-leave-to .modal-container {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  & .snackbar-mask {
    position: fixed;
    z-index: 9998;
    bottom: 25px;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    transition: opacity 0.3s ease;
    & .snackbar-container {
      width: fit-content;
      margin: auto;
      padding: 5px 10px;
      background-color: rgba(0, 0, 0, 0.9);
      color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      height: 50px;
      width: 400px;
      border-radius: 5px;
      & .snackbar-content {
        display: grid;
        grid-template-columns: 1fr 75px 75px; 
        grid-gap: 10px;
        align-items: center;
        height: 100%;
        & p {
          font-size: 0.9rem;
        }
      }
    }
  }  
  & .age-atk-select {
      height: auto;
  }
  /* Sidebar styling */
  & .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #FFF;
    color: rgba(0,0,0,0.87);
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    transition: 0.4s;
    transition-timing-function: ease-out;
  }
  & .age-notes {
    width:50%;
    
  }    
  & .sidebar-hidden {
    transform: translateX(130%);
    transition-timing-function: ease-in;
    transition: 0.4s;
    /* transform: translateX(100%); */
    box-shadow: none;
  }
  /* Close button */
  & .close-btn {
    background: none;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
    float: right;
  }    
  /* Overlay styling */
  & .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1000;
  }    
  /* Transition for sliding effect */
  & .slide-enter-active,
  & .slide-leave-active {
    transition: transform 0.3s ease-in-out;
  }
  
  & .slide-enter {
    transform: translateX(100%);
  }
  
  & .slide-leave-to {
    transform: translateX(100%);
  }
  & .config-container {
    position: absolute;
    right: 0;
    top:0;
  }
  & .config-btn {
    border: none;
    background: none;
    width: fit-content;
    font-size: 16px;  
  }
  & .age-roll-initiative {
    display: flex;
    justify-content: center;
    width: 100%;
    & .age-roll-initiative-btn {
      font-weight: bold;
      width: 100%;
      padding: 6px;
      font-size: 18px;
    }
  }
}
body.sheet-darkmode {
  background: #282828;
  background-size:unset; 
  color:#E0E0E0; 
  & .form-control, .form-select {
      background-color: #282828;
      border: 1px solid rgba(255, 255, 255, 0.125);
    color: #E0E0E0;

  }
  & .form-control::placeholder {
    color: #E0E0E0;

  }
  & .age-icon-btn {
    color:#a5a5a5;
  }
  & h1 {
    color: #E0E0E0;
  }
  & .section-card {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    // background-color: rgba(17, 25, 40, 0.75);
    background-color: #292c41;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    & .accordion {
      --bs-accordion-border-color:#292c41;
    }
    & .age-tab {
      & button {
        display: flex;
        background-color: #292c41;

        color:#E0E0E0;
      }
      & .active {
        color:#E0E0E0;
        border-color: #292c41;
        background-color: #282828;

        & .age-tab-icon {
        }
      }
    } 
    & .age-character-bio .age-character-bio-value.age-character-bio-value {
      color: #E0E0E0;
    }
    & .age-container-content {
      position: relative;
      box-sizing: border-box;
      border: 3px solid;
      background: #292c41;
      text-align: center;
      & .age-container-heading {
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 2px 2px;
      }
      
      & .age-num-input {
        padding:8px 0 8px 15px;
      }
      & .age-num-value {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 26px;
        padding-bottom: 5px;
        position: relative;
        overflow: hidden;
        display: block;
        width: 100%;
        color:#E0E0E0;
        & .age-ability-primary {
          height: 90px;
          width: 90px;
          position: absolute;
          left: calc(50% - 45px);
          top: calc(50% - 45px);
          z-index: 1;
          opacity: 0.15;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M298.736 21.016c-99.298 0-195.928 104.647-215.83 233.736-7.074 45.887-3.493 88.68 8.512 124.787-4.082-6.407-7.92-13.09-11.467-20.034-16.516-32.335-24.627-65.378-25-96.272-11.74 36.254-8.083 82.47 14.482 126.643 27.7 54.227 81.563 91.94 139.87 97.502 5.658.725 11.447 1.108 17.364 1.108 99.298 0 195.93-104.647 215.83-233.736 9.28-60.196.23-115.072-22.133-156.506 21.625 21.867 36.56 45.786 44.617 69.496.623-30.408-14.064-65.766-44.21-95.806-33.718-33.598-77.227-50.91-114.995-50.723-2.328-.118-4.67-.197-7.04-.197zm-5.6 36.357c40.223 0 73.65 20.342 95.702 53.533 15.915 42.888 12.51 108.315.98 147.858-16.02 54.944-40.598 96.035-79.77 126.107-41.79 32.084-98.447 24.39-115.874-5.798-1.365-2.363-2.487-4.832-3.38-7.385 11.724 14.06 38.188 14.944 61.817 1.3 25.48-14.71 38.003-40.727 27.968-58.108-10.036-17.384-38.826-19.548-64.307-4.837-9.83 5.676-17.72 13.037-23.14 20.934.507-1.295 1.043-2.59 1.626-3.88-18.687 24.49-24.562 52.126-12.848 72.417 38.702 45.923 98.07 25.503 140.746-6.426 37.95-28.392 72.32-73.55 89.356-131.988 1.265-4.34 2.416-8.677 3.467-13.008-.286 2.218-.59 4.442-.934 6.678-16.807 109.02-98.412 197.396-182.272 197.396-35.644 0-65.954-15.975-87.74-42.71-26.492-48.396-15.988-142.083 4.675-185.15 26.745-55.742 66.133-122.77 134.324-116.804 46.03 4.027 63.098 58.637 39.128 116.22-8.61 20.685-21.192 39.314-36.21 54.313 24.91-16.6 46.72-42.13 59.572-73 23.97-57.583 6.94-113.422-39.13-116.805-85.737-6.296-137.638 58.55-177.542 128.485-9.21 19.9-16.182 40.35-20.977 60.707.494-7.435 1.312-14.99 2.493-22.652C127.67 145.75 209.275 57.373 293.135 57.373z"/></svg>');
        }
      }
    }
    & .age-container-content::before, .age-container-content::after, .age-container-content-corner-top-right, .age-container-content-corner-bottom-left {
      background-color: #292c41;
    }
    & .age-stunts .age-stunt-input {
      color: #E0E0E0;
      background: #000;
    }
    & .hpmp-container {
      color: #E0E0E0;
      & .hpmp-current input[type=number] {
        color: #E0E0E0;
      }
    }
    & .age-combat-footer {
      display: grid;
      grid-template-columns: 1fr 75px;
      & .age-combat-wg {
        display: flex;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
        background: #292c41;
        color: #E0E0E0;
        padding: 0 5px;
      }
      & .age-combat-unarmed__toggle {
          background-color: #E0E0E0;
      }
    }
  }
  & .accordion-button:not(.collapsed) {
    background-color: transparent;
  }
  & .accordion-button::after {
    background-color: #E0E0E0;
    background-image: none;
    mask: var(--bs-accordion-btn-icon);

  }
  & .age-activity-accordion, .age-accordion {
    --bs-accordion-bg:#292c41;
    --bs-accordion-border-color:#191b28;
    --bs-accordion-btn-color: #E0E0E0;
    --bs-accordion-color: #E0E0E0;
    --bs-accordion-border-color:#292c41;
  }
  & .age-activity-accordion-row {
    background-color: #292c41;
    color: #E0E0E0;
    
    & .accordion-button {
    background-color: #292c41;
    color: #E0E0E0;
    }
    & .accordion-button::after {
      background-color: #E0E0E0;
      background-image: none;
      mask: var(--bs-accordion-btn-icon);

    }
  }
  & .age-label {
    & .age-label-content {
      color: #E0E0E0;
      background: #000;
      clip-path: polygon(
        10px 0px,
        /* Top left corner */ calc(100% - 10px) 0px,
        /* Top right corner */ 100% 10px,
        /* Right top corner */ 100% calc(100% - 10px),
        /* Right bottom corner */ calc(100% - 10px) 100%,
        /* Bottom right corner */ 10px 100%,
        /* Bottom left corner */ 0px calc(100% - 10px),
        /* Left bottom corner */ 0px 10px
      );
      
    }
  }  
  & .age-input {
    color:#E0E0E0;
  }
  & .age-bio-textarea {
    background: rgba(0, 0, 0, 0.87);
    border: rgba(0, 0, 0, 0.87);
    color: #E0E0E0;
  }
  & .modal-mask {
    & .age-modal-header h3 {
      color: #E0E0E0;
    }
    & .age-modal-header .btn-close {
      --bs-btn-close-color: #E0E0E0;
      background: #E0E0E0;      
      mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    }
    & .modal-container {
      background-color: #282828;
      & .accordion-item {
        background-color: #282828;
        color: #E0E0E0;
        & .accordion-button {
          background-color: #282828;
          color: #E0E0E0;
          }
      }
      & .input-group-text {
        background:#292c41;
        border-color:#292c41;
        color: #E0E0E0;
      }
      & input, select {
        background: rgba(0, 0, 0, 0.35);
        border: rgba(0, 0, 0, 0.87);
        color: #E0E0E0;
      }
    }
  }
  & .sidebar {
    background-color: #282828;
    border-color:#292c41;
    color: #E0E0E0;
  }
}


.age-bio-input {
  height: 22px;
  border-bottom: none;
  margin: 3px 0 -2px;
}
.age-action.header {
  margin: -6px;
}
.age-action-header .nav-link, .age-action-header .nav-link:hover,.age-action-header .nav-link:focus {
  color:#FFF;
}
.age-action-content {
  margin-top: -2px;
}
.delete-btn {
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: #F34541;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  min-width:100px;
  text-transform: capitalize;
}
.confirm-btn {
  text-align: center;
  line-height: 30px;
  color: #fff;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  min-width:100px;
}
.age-attack-details-header {
}
.modal-footer-actions {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  main {
    & .player-sheet-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      & .age-action-con-section {
        display: flex;gap: 15px; flex-direction: column;
      }
      & .age-combat-skill-section {
        grid-column: span 3;display: flex;gap: 25px;
      }
      & .section-card {
        & .age-actions-mage {
          display: grid;    
          grid-template-columns: repeat(2, minmax(75px, 1fr));
          grid-gap: 10px;
          padding: 10px;
        }
      }
    }
  }
}
@media (max-width: 1439px) {
  main {
    & .player-sheet-wrapper {
      grid-template-columns: 1fr 2fr ;
      & .age-combat-skill-section, .age-action-con-section {
        display: flex;gap: 15px; flex-direction: column;
      }
      & .age-conditions-main {
        display: block;
      }
      & .age-conditions-secondary {
        display: none;
      }
    }
    & .section-card {
     & .age-actions-mage {
        display: grid;    
        grid-template-columns: repeat(2, minmax(75px, 1fr));
        grid-gap: 10px;
        padding: 10px;
        & .age-actions-spellpower {
          grid-column: span 3;
        }
      }
    }
  }
}
@media (min-width: 968px) { 
  main {  
    & .age-expand-btn {
      width: 55px;
      height: 103%;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border: none;
      border-radius: 0;
      color: #FFF;
    }
    & .age-expand-btn:not(.collapsed) {
      background: none;
    }
    & .age-combat-accordion-header {
      display:grid;
      grid-template-columns:40px 2fr 1fr 50px 75px 25px 25px 55px;
      grid-template-areas: 'icon name range attack damage details edit accordion';
      align-items: center;
      width: max-content;
      min-width: 100%;
      grid-gap: 5px;

    }  
    & .age-spell-accordion-header {
      display:grid;
      // grid-template-columns:2fr 1fr 1fr 1fr 40px 40px 25px 25px 55px;
      grid-template-columns:2fr 1fr 40px 40px 25px 25px 55px;
      align-items: center;
      width: max-content;
      min-width: 100%;
      grid-gap: 5px;

    }
    & .age-qualities-accordion-header {
      display:grid;
      grid-template-columns:40px 3fr 1fr 1fr 25px 25px 55px;
      align-items: center;
      min-width: 100%;
      grid-gap: 5px;
    }
    & .age-inventory-accordion-header {
      display:grid;
      grid-template-columns: 25px 2fr 1.25fr 1fr 1fr 25px 25px 55px;
      align-items: center;
      width: max-content;
      min-width: 100%;
      grid-gap: 5px;
      position: relative;
    }
    & .age-enhancement-accordion-header {
      display:grid;
      grid-template-columns:2fr 25px 25px 55px;
      align-items: center;
      width: max-content;
      min-width: 100%;
      grid-gap: 5px;
    }
  } 
}
@media (max-width: 967px) {  
  main {    
    & .age-expand-btn {
      width: 40px;
      height: 103%;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border: none;
      border-radius: 0;
      color: #FFF;
    }
    & .age-expand-btn:not(.collapsed) {
      background: none;
    }
    & .age-combat-accordion-header {
      display:grid;
      grid-template-columns:40px 2fr 1fr 50px 75px 25px 25px 40px;
      grid-template-areas: 'icon name range attack damage details edit accordion';
      align-items: center;
      width: max-content;
      min-width: 100%;
      grid-gap: 5px;
    }
    & .age-spell-accordion-header {
      display:grid;
      // grid-template-columns:2fr 1fr 1fr 1fr 40px 40px 25px 25px 40px;
      grid-template-columns:2fr 1fr 40px 40px 25px 25px 40px;
      align-items: center;
      width: max-content;
      min-width: 100%;
      grid-gap: 5px;

    }
    & .age-qualities-accordion-header {
      display:grid;
      grid-template-columns:40px 3fr 1fr 1fr 25px 25px 40px;
      align-items: center;
      min-width: 100%;
      grid-gap: 5px;
    }
    & .age-inventory-accordion-header {
      display:grid;
      grid-template-columns: 25px 2fr 1.25fr 1fr 1fr 25px 25px 40px;
      align-items: center;
      width: max-content;
      min-width: 100%;
      grid-gap: 5px;
      position: relative;
    }
    & .age-enhancement-accordion-header {
      display:grid;
      grid-template-columns:2fr 25px 25px 55px;
      align-items: center;
      width: max-content;
      min-width: 100%;
      grid-gap: 5px;
    }
  }
}
@media (max-width: 800px) {  
  main {
    grid-template-columns: 1fr;
    margin: 5px 2px;
  & .header-section {
    grid-column: span 2;
    gap: 15px;
  }
  & .player-sheet-wrapper {
      // grid-template-columns: 1fr 550px ;
      & .column-1-wrapper {
        display: none;
      }
      
  }
  & .section-card {
    & .age-ability-scores-container {
      // display: flex;
      // flex-wrap: wrap;
      // gap: 10px;
      & .age-ability-scores {
        flex: 1;
        border-right: none;
        & button:hover {
          border-bottom: 1px solid;
        }
      }
    }
    & .age-actions-mage {
      display: grid;    
      grid-template-columns: repeat(2, minmax(75px, 1fr));
      grid-gap: 10px;
      padding: 10px;
    }
  }
  & .npc-sheet-wrapper {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr ;
    align-items: stretch;
    gap: 24px;
    & .column-1-wrapper {
      display: block;
    }
    & .header-section {
      grid-template-columns: 1fr;
    }
    & .section-card {
      display: flex;
      flex-direction: column;
      & .age-character-bio {
        display: grid;
        grid-template-columns: 75px 1fr;
        flex:2;
        & .age-level-label {
          display: none;
        }
        & .bio__avatar {
          padding:5px;
          width: 75px;
        }
        & .age-character-details {
          padding: 5px 0;
        }
        & h1.age-character-name {
          padding-bottom: 0;
        }
        & .age-character-bio-container {
          display: grid;
          grid-template-columns: repeat(2,1fr);
        }
      }
      & .age-stats {
        flex: 1;
      }
    }
  }
}
@media (max-width: 650px){
  main {
    grid-template-columns: 1fr;
    & .age-combat-accordion-header {
      display:grid;
      grid-template-columns: 40px 1fr 1fr;
      grid-template-areas:
        "icon name range range range accordion"
        "icon attack damage none details edit";
    }
  }
}
@media (max-width: 450px){
  body {
  & main {
    grid-template-columns: 1fr;
    margin: 0;
    transition: var(--ease-all);
    display: grid;
    & .system-header {
      & .age-header-options {
        display: none;
      }
      & .age-header-menu {
        display: block;
      }
    }
    & .age-sheet{
      max-width: 1440px;
      place-self: center;
    }
    & .player-sheet-wrapper {
      // grid-template-columns: 1fr;
      display: block;
      // flex-direction: column;
      & section {
        display: flex !important;
        flex-direction: column;
      }
    }
    
    
  }
  & main.npc-sheet-wrapper {
    & .header-section {
      grid-column: 1
    }
    & .section-card {
      & .age-character-bio {
        grid-template-columns: 1fr;
        & .bio__avatar {
          width: 100%;
          display: flex;
          justify-content: center;
          & img {
            width: auto;
            max-height: 140px;
          }
        
        }
        & .age-stats {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      & .age-action-content {
        display: flex;
        flex-direction: column;
      }
      & .age-ability-scores-container-npc {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }  
  }
  
}
}
.input-group-text {
  flex:0.5;
}
.input-group {
  flex-wrap: nowrap;
}
.ql-toolbar {
  display:none;
}
.ql-container.ql-snow {
  // width: min-content;
  // min-width: 100%;
  border-top:1px solid rgb(209, 213, 219) !important;
  // max-width: 500px;
  flex: 2;
  width: 100%;

}
.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.age-bio-quill .ql-editor {
  max-height: 175px;
  & p {
    padding-bottom: 15px;
  }
}
.age-notes {
  .ql-container.ql-snow {
    height:90vh;
  }
}
.age-side-info {
  width: 40% !important;
  & ul {
    overflow-y: auto;
    max-height: 90vh;
  }
}
.age-pf-cntr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 3px solid var(--theme-primary);
  height: 50px;
  & .age-pf-label {
    font-size: 11px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    background-color: var(--theme-primary);
  }
  & .age-pf-details {
    display: grid;
    grid-template-columns: 26px 1fr 26px;
    align-items: center;
    height: 100%;
    & .age-pf-manual-change {
      height: 25px;
      display: flex;
      flex-direction: column;
      & button {
        height: 10px;
      }
    }
  }
}
.age-pf {
  background-color: var(--theme-primary);
  width: 25px;
  height: 25px;
  place-self: center;
}
.age-pf-default {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M179.813 20.72v81.25L135.78 75.624l17.564 46.938-115.656-20.938 84.718 49.906H20v27.345l110.47 14.875 96.593-29.188c-11.303-11.87-18.594-30.743-18.594-52 0-35.926 20.87-65.062 46.624-65.062 25.753 0 46.625 29.136 46.625 65.063 0 20.847-7.038 39.375-17.97 51.28l99.03 29.907 112.5-15.156V151.53H394.19l84.718-49.905-120.437 21.78 17.874-47.718-48.656 29.126V20.72H179.813zM495.28 223.343l-112.5 22.437-55.405-13.124-28.03 118.313 16.592 145h51.688L329.25 351.22l46.53 27.842-21.31-56.937 124.436 22.5-91.125-53.688h107.5v-67.593zM20 223.75v67.188h108.813l-91.125 53.687L157.31 322.97 136.345 379l38.47-23-28.595 139.97h48.155L207.28 351.56 185.595 232.72l-55.125 13.06L20 223.75z"/></svg>');
}
.age-pf-winded {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M45.215 19.162v438.443l18.687-27.334V19.163H45.215zm50.21 0v408.082h18.688V19.162H95.426zm54.07 0V294.11h3.21c4.71-5.543 9.902-10.77 15.48-15.684V19.162h-18.69zm50.21 0v236.98c6.047-3.43 12.296-6.582 18.69-9.44V19.16h-18.69zm50.21 0v216.033c6.18-1.787 12.42-3.34 18.69-4.625V19.162h-18.69zm48.923 0v207.262c5.177-.357 10.33-.54 15.432-.512 1.088.006 2.17.03 3.255.055V19.162h-18.687zm54.07 0v211.12c4.172.978 8.25 2.142 12.237 3.46 1.688-2.06 3.45-4.088 5.31-6.07.376-.4.763-.78 1.143-1.174V19.162h-18.69zm50.21 0v184.172c6.14-2.986 12.41-5.27 18.69-6.81V19.16h-18.69zm50.208 0v176.336c6.655 1.35 12.978 3.786 18.69 7.395V19.163h-18.69zM440.61 212.85c-3.508-.006-7.176.35-10.97 1.074-15.174 2.895-31.835 11.907-45.554 26.533-4.884 5.208-9.023 10.747-12.434 16.412-93.246-57.583-331.013 75.585-179.697 189.32H72.64l-26.453 47.744h257.165l-88.48-103.25c24.272-26.71 67.455-43.708 96.997-45.067 13.792 45.098 36.248 113.5 71.734 148.315h60.865c-43.9-47.444-77.84-111.502-82.236-183.94 1.887 5.67 4.938 10.597 9.137 14.55 9.046 8.518 22.192 11.497 37.366 8.603 15.175-2.895 31.838-11.905 45.557-26.532 13.72-14.626 21.666-31.854 23.61-47.22 1.943-15.367-1.85-28.35-10.895-36.868-6.784-6.387-15.875-9.66-26.4-9.675z"/></svg>');
}
.age-pf-fatigued {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M255.7 136.9c-87.5 0-147.7 38.5-207.05 106.3 67.05-19.8 134.05-31.6 200.55-32.7 2.4 0 4.8-.1 7.2-.1 62.2-.3 124 8.7 185.3 29.3-18.3-18.2-34.6-37.8-53.6-54.8-30.6-27-67.4-48-132.4-48zm34.1 93.1a37.23 37.23 0 0 1 3.1 15 37.23 37.23 0 0 1-1.7 10.9 18.61 18.61 0 0 0-16.9-10.9 18.61 18.61 0 0 0-18.6 18.7 18.61 18.61 0 0 0 10.9 16.9 37.23 37.23 0 0 1-10.9 1.6 37.23 37.23 0 0 1-37.3-37.2 37.23 37.23 0 0 1 3-14.6c-9.9.6-19.8 1.5-29.6 2.5-.8 4-1.2 8-1.2 12.1 0 36.1 29 65 65.1 65 36.1 0 65-28.9 65-65 0-4.3-.4-8.6-1.3-12.7-9.8-1.1-19.8-1.8-29.6-2.3zm49.2 4.7c.4 3.4.6 6.8.6 10.3 0 46.2-37.7 83.9-83.9 83.9s-83.8-37.7-83.8-83.9c0-3.3.2-6.5.6-9.7-42 5.8-84.03 15.5-126.42 28.3 65.52 32.2 137.42 72.7 209.62 72.7 61.2 0 121.5-14 204-70-40.1-15.5-80.3-25.9-120.7-31.6zm126.9 50.2c-15.2 10.1-29.9 18.9-44 26.6-64 74.6-160.7 104.3-267.4 108.7l.9 18.9c110.3-4.6 214-36.4 282.2-117.1-19.2 52.3-61.3 92.6-104.6 134.4l13.2 13.6c53.4-51.6 110-104.8 119.7-185.1z"/></svg>');
}
.age-pf-exhausted {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M264.438 17.094c-65.792 0-122.042 41.78-145.625 93.406-20.03 34.082-31.844 74.992-31.844 118 0 73.852 20.417 140.625 52.81 188.406 32.395 47.78 76.155 76.28 123.845 76.28 47.69.002 91.45-28.5 123.844-76.28 32.393-47.78 52.81-114.555 52.81-188.406 0-41.823-10.428-80.8-28.31-113.53-22.305-53.66-79.854-97.876-147.533-97.876zm0 18.687c72.458 0 132.256 60.305 138.25 117.564H267.063l-6.22-22.625-9-32.782-9 32.78-10.5 38.22-16.843-61.282-9.03-32.78-9 32.78L185 152.97h-58.813c6.22-57.147 65.95-117.19 138.25-117.19zm-57.97 109.657l16.845 61.25 9.03 32.782 9-32.782 10.5-38.25 1 3.593h149.812c-5.967 55.655-64.63 101.032-138.22 101.032-73.752 0-132.567-45.58-138.31-101.406h73.124l1.906-6.875 5.313-19.343zm-71.78 139.407c18.355 18.096 37.527 26.734 55.718 27.53 18.192.798 35.928-6.095 52.125-21.5l12.876 13.563c-19.213 18.273-42.28 27.657-65.844 26.625-23.562-1.03-47.1-12.333-68-32.937l13.126-13.28zm264.75 0l13.125 13.28c-20.898 20.605-44.438 31.907-68 32.938-23.563 1.032-46.63-8.352-65.844-26.625l12.874-13.562c16.198 15.404 33.965 22.297 52.156 21.5 18.19-.797 37.333-9.435 55.688-27.53zM266.53 419.594c26.456-.068 52.92 3.186 79.345 10.03l-4.688 18.095c-49.808-12.902-99.402-12.4-149.375.03l-4.53-18.125c26.343-6.552 52.795-9.964 79.25-10.03z"/></svg>');
}
.age-pf-dying {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M254.566 20.055c-59.624 0-99.147 26.426-125.21 65.767-25.084 37.862-36.733 88.14-37.583 136.746 35.068 17.25 55.994 35.297 65.088 54.416 8.03 16.882 4.974 34.41-5.042 47.96 22.02 19.97 59.516 32.352 98.135 32.972 38.86.624 77.95-10.4 102.942-33.174-5.034-5.972-8.774-12.36-10.582-19.37-2.54-9.836-.836-20.485 4.687-30.134 10.514-18.37 33.286-34.804 70.354-52.71-.878-46.03-12.275-96.24-37.225-134.714-25.985-40.068-65.52-67.76-125.564-67.76zm-75.748 125.982c46.19 10.87 94.98 10.703 145.752.205-25.867 37.59-123.918 37.62-145.752-.205zm-20.312 13.53c7.698 30.39 30.63 47.76 73.336 45.984l-1.112 33.59c-39.39 20.126-72.635 1.99-103.71-19.048h-.002c-4.848-30.567-.204-54.706 31.488-60.526zm186.69 0c31.69 5.82 36.333 29.958 31.486 60.525h-.002c-31.076 21.04-64.32 39.174-103.71 19.047l-1.11-33.59c42.707 1.776 65.637-15.594 73.335-45.984zM250.97 252.19c12.102 21.818 21.704 43.634 26.47 65.45-13.016 9.698-36.32 11.107-52.938 0 6.443-21.816 14.19-43.632 26.47-65.45zM100.405 353.108c-50.152 13.628-82.55 33.813-82.55 56.204 0 41.018 106.523 74.352 237.697 74.352s237.698-33.334 237.698-74.35c0-22.312-32.12-42.58-81.965-56.205 17.23 8.88 27.518 19.25 27.518 30.444 0 32.13-82.31 58.546-183.247 58.546-100.937 0-182.662-26.418-182.662-58.545 0-11.253 10.112-21.534 27.518-30.443h-.004zm62.54 2.637l-14.903 23.41c6.624 5.312 14.328 9.978 22.855 13.955l10.898-28.796c-6.58-2.48-12.888-5.336-18.848-8.57zm177.605.53c-5.772 3.14-11.804 5.894-18.038 8.28l10.703 28.477c8.005-3.6 15.612-7.817 22.666-12.676l-15.33-24.08zm-140.905 13.673L188.3 399.924c9.524 3.093 19.698 5.462 30.253 7.064l3.87-32.513c-7.754-1.09-15.377-2.6-22.778-4.528zm105.04.287c-7.468 1.95-15.113 3.434-22.85 4.48l3.823 32.126c10.274-1.605 20.384-3.967 30.112-7.11l-11.086-29.496zm-63.654 6.045l-3.893 32.712c9.87.637 19.92.623 29.947-.07l-3.873-32.535c-4.52.206-9.045.287-13.558.215-2.878-.047-5.752-.167-8.62-.323z"/></svg>');
}
