{{#> wrapper type="roll" keyValues=keyValues }}
  {{#> header characterName=characterName title=title subtitle=subtitle}}
  {{/ header}}
  <div class="body">
    {{> rollTotal total=(sumComponents ../components multiplier) resultType=(getRollResultType ../components multiplier) power=(getRollPower ../components multiplier) }}

    <details class="minified">
      <summary class="summary">
        <div class="summary__button">
          <span>▼</span>
        </div>
        <div class="summary__line"></div>
      </summary>
      {{> rollComponents components=components }}
    </details>
    <div class="exploded">
      {{> rollComponents components=components }}
    </div>
  </div>
{{/ wrapper }}
