.quickstart-template {
  display: block;
  max-width: 100%;
  background-color: white;
  color: black;
  border-radius: .25rem;

  &__trait {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5rem;
    padding: 1rem;

    &__name {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
