$expanseThemeColor: #00577B;
$espanseMarsColor: #9F0058;
$espanseBeltColor: #C93B1C;
$espanseOutersColor: #682E4D;
$espanseEarthColor: #00577B;

body.expanse {
    background:url(/src/assets/background/expanse.jpg);
    background-size: cover;
    & h1, h2, h3, h4, h5, h6 {
        font-family: 'Venus Rising', sans-serif;
        text-transform: lowercase;
    }
    & .system-header {
        min-height: 35px;
    }
    & .age-header-btn {
        & button {
            border-color: var(--theme-primary);
            color: var(--theme-primary);
        }
        & .active {
            background-color: var(--theme-primary);
            border: 2px solid var(--theme-primary);
        }
        & .age-toggle-btn-icon {
            background-color:$expanseThemeColor;
        }
    }    
    & .age-btn {
        background-color: var(--theme-secondary);
        border: 2px solid var(--theme-primary);
        color: var(--theme-primary);
        border-radius: 0;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        position: relative;
        & .age-expanse-lrest {
            height: 16px;
            width: 16px;
            background-color: var(--theme-primary);
            mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M314 29.72l-11.4 11.35 32.5 32.54 11.4-11.39-32.5-32.5zm38.3 2.74c-3.5-.04-6.8.1-9.6.39 0 0-.1.01-.1.02l61.9 61.87 30.8-30.82c-19.8-17.03-43.2-26-63.5-29.57-5.6-.99-11-1.56-15.9-1.79-1.2-.05-2.4-.09-3.6-.1zm-51.1 32.69L65.15 301.3 108.9 345l4.9-4.9 6.4-6.3 58 58-11.3 11.3 43.8 43.8 236.2-236.1L301.2 65.15zm58.1 9.83l-11.4 11.39 77.7 77.73 11.4-11.4-77.7-77.72zm88.8 1.7l-30.8 30.82 61.9 62v-.2c.8-7.6.5-17.9-1.5-29.1-3.6-20.3-12.6-43.73-29.6-63.52zm1.7 88.82l-11.4 11.4 32.5 32.5 11.4-11.4-32.5-32.5zm-227.7 11.3l33.9 33.9 33.9-33.9 45.3 45.3-33.9 33.9 33.9 33.9-45.3 45.3-33.9-33.9-33.9 33.9-45.3-45.3 33.9-33.9-33.9-33.9 45.3-45.3zM40.94 302.6L29.7 314l55.14 55.1 11.31-11.3-55.21-55.2zm-8.08 40c0 .1-.01.1-.01.1-.78 7.6-.48 17.9 1.5 29.1 3.98 22.6 14.65 49.1 35.68 70.1 21.03 21.1 47.57 31.8 70.17 35.8 11.2 2 21.5 2.3 29.1 1.5h.2l-39.4-39.4-9.9 9.9-57.96-57.9 9.9-9.9-39.28-39.3zm87.34 16.6l-32.5 32.6 32.5 32.5 32.6-32.5-32.6-32.6zm34 56.6l-11.4 11.3 55.2 55.2 11.4-11.3-55.2-55.2z"/></svg>');
        }
        & .age-expanse-trest {
            height: 16px;
            width: 16px;
            background-color: var(--theme-primary);
            mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M23.113 18c3.425 32.11 13.432 59.227 28.08 82.438 20.956 33.203 50.994 58.33 83.807 80.37v-21.865c-27.563-19.53-51.623-41.236-68.584-68.11C53.43 70.252 44.41 46.607 41.136 18H23.112zM105 18v39.512L145.46 71h59.194L183 45.285V18h-78zm96 0v20.715L228.188 71h55.625L311 38.715V18H201zm128 0v27.285L307.346 71h59.193L407 57.514V18h-78zM153 89v334h206V89h-30.527a16 16 0 0 1-15.973 15.25A16 16 0 0 1 296.537 89H186.064c4.35 15.944 7.01 31.603 13.13 42.752 4 7.287 8.96 12.664 17.085 16.357 2.936 1.334 6.36 2.437 10.345 3.226a29.68 39.572 0 0 1-.305-5.336A29.68 39.572 0 0 1 256 106.428 29.68 39.572 0 0 1 285.68 146a29.68 39.572 0 0 1-21.186 37.885c5.498.232 11.014.828 16.32 1.914 8.974 1.39 15.104 5.588 20.174 12.384 5.07 6.797 8.75 16.362 11.178 27.472 4.403 20.152 4.68 44.91 4.697 66.7h-25.287l-6.453 97.806c-17.838 4.018-37.613 4.163-56.135-.017l-7.293-97.79h-26.558c.17-21.525 1.238-45.946 6.097-65.945 2.684-11.04 6.515-20.62 11.524-27.494 5.01-6.875 10.868-11.097 18.86-12.6a155.5 155.5 0 0 1 16.698-2.142 29.68 39.572 0 0 1-15.66-13.863c-9.147-.758-17.02-2.72-23.824-5.814-11.886-5.402-20.042-14.295-25.414-24.082-9.082-16.545-11.715-35.59-16.172-51.414H153zm341 8.44c-5.896 14.547-12.162 28.405-19.1 41.1-22.9 41.908-51.386 70.866-97.9 75.806v18.074c54.012-5.202 89.058-40.16 113.695-85.248a322.96 322.96 0 0 0 3.305-6.23v-43.5zM333.242 114.9a13.02 13.02 0 0 1 13.022 13.022 13.02 13.02 0 0 1-13.022 13.02 13.02 13.02 0 0 1-13.02-13.02 13.02 13.02 0 0 1 13.02-13.022zm-26.535 33.3a9.047 9.047 0 0 1 9.047 9.048 9.047 9.047 0 0 1-9.047 9.047 9.047 9.047 0 0 1-9.047-9.047 9.047 9.047 0 0 1 9.047-9.047zM494 224.036c-10.438 26.16-21.8 49.85-33.584 69-15.506 25.197-31.98 42.045-45.44 47.106-6.732 2.53-12.46 2.607-18.732.048-5.882-2.4-12.438-7.535-19.244-16.57v25.87c3.984 3.133 8.124 5.6 12.44 7.364 10.418 4.25 21.64 3.984 31.87.138 20.456-7.69 37.942-27.718 54.436-54.52 6.28-10.205 12.38-21.468 18.254-33.542v-44.893zM105 441v18h142v-18H105zm160 0v18h142v-18H265zM73 477v17h174v-17H73zm192 0v17h174v-17H265z"/></svg>');
        }
    }
    & .age-icon-btn, & .age-icon-btn-sm {
        background-color: none;
        color: var(--theme-primary);
    }
    & .age-input-label {
        color: var(--theme-primary);
    }
    & .age-level-label {
        background:var(--theme-primary);
        color: #FFF;
        font-family: 'Venus Rising',sans-serif;
    }
    & .age-levelup-btn {
        font-family: 'Venus Rising', sans-serif;
        text-transform: lowercase;
        background:var(--theme-primary);
        color:#FFF;
        margin:0px -5px;
        border:none;
        font-size:12px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 100%;
        padding:2px 5px;
    }
    & .age-label-heading, .age-container-heading {
        font-family: 'Venus Rising', sans-serif;
        text-transform: lowercase;
        background-color: var(--theme-primary);
    }
    & .age-checkbox-toggle input:checked + .slider {
        background-color: var(--theme-primary);
    }
    
    & .section-card {
        & h1,h2,h3,h4,h5 {
            font-family: 'Venus Rising', sans-serif;
        }
        & h5 {
            font-size: 1.1rem;
        }
        & .age-section-header, .age-character-name {            
            font-size: 1.4rem !important;
        }
        & .age-subsection-header {
            font-size: 1rem;
        }
        & .age-container-content {
            border-color: var(--theme-primary);
            & .age-container-heading {
                padding: 0 0 2px;
                margin-top: -2px;
            }
            &.age-power-fatigue {
                border-color: #a3a3a3;
                cursor: not-allowed;
                & .age-container-heading {
                    background-color: #a3a3a3;
                }
                & .age-num-value {
                    color: #a3a3a3;
                }
            }
        }
        & .age-container-content::before,.age-container-content::after, .age-container-content-corner-top-right, .age-container-content-corner-bottom-left {
            display: none;
        }
        & .age-combat-unarmed .age-combat-unarmed__toggle, .age-tab .active .age-tab-icon {
            background-color: var(--theme-primary);
        }
        & .age-combat-section {
            background-color: var(--theme-primary);
        }
        & .age-tab {
            & button {
                display: flex;
                border-color: var(--theme-primary);               
                color: var(--theme-primary);
                background: #FFF;
                font-family:'Archive', serf;
                text-transform: capitalize;
                & .age-tab-label {
                    padding-top: 4px;
                }
            }
            & .active {
              background-color: var(--theme-primary); 
              & .age-tab-icon {
                background-color:#FFF;
              }
            }
            & .age-tab-icon {
                background-color: var(--theme-primary);
            }
            
        } 
        & .age-container-heading {
            font-family:'Spectrashell', serf;
            text-transform: capitalize;
            letter-spacing: 1.5px;
            font-size: 1.25rem;
        }
        & .age-defense {
            grid-template-columns: repeat(2, minmax(75px, 1fr));
        }
        & .age-actions-magic-mage {
            grid-template-columns: repeat(3, minmax(75px, 1fr));
            & .age-armor-stats {
                grid-column: span 3;
            }
        }
        & .age-orb-highlight {
            background-color: var(--theme-primary);
        }
        & .age-currency-container__coin {
                background-color: var(--theme-primary);
            }
    }  
    & .sidebar {
        & h2 {
            font-size: calc(.75rem + .9vw);
        }
        & .age-sidebar-list {
            list-style: none;
            padding-left: 5px;
            font-size:1.05rem;
            & li {
                margin-bottom: 5px;
            }
            &__title {
                font-family: 'Spectrashell', Times, serif;
                color: var(--theme-primary);
                font-weight: 400;
                margin-right: 5px;
                font-size: 1.45rem;
            }
        }
      }  
    & .confirm-btn {
    background: var(--theme-primary);
    }
    & .age-character-bio-value {
            .age-character-campaignMode {
            text-transform: capitalize;
            font-weight: 600;
            padding: 2px 10px;
            border-radius: 10px;
            width: fit-content;
        }   
    }
    & .age-pf-label {
        font-family:'Archive', serf;
        text-transform: capitalize;
    }
    & .age-quality-modifiers h3 span {
        font-size: 1.25rem;
    }
    & .ql-editor {
        background-color: #FFF;
    }
    & .age-modal .age-modal-header h3 {
        font-size: 1.5rem;;
    }
    &.earth {
        background:url(/src/assets/background/expanse-earth-blue.png);
        background-size: cover;
    }
    &.union {
        background:url(/src/assets/background/expanse-earth-blue.png);
        background-size: cover;
    }
    &.mars {
        background:url(/src/assets/background/expanse-mars-red.png);
        background-size: cover;
    }
    &.belters {
        background:url(/src/assets/background/expanse-black.png);
        background-size: cover;
    }
    // &.outers {
    //     background:url(/src/assets/background/expanse-purple.png);
    //     background-size: cover;
    // }
    .age-character-originFaction-logo {
        position: absolute;
        height: 75px;
        top: 65px;
        right: 10px;  
        & img {
            height: 75px;
            width: auto;
        }
    }
}

