$expanseThemeColor: #00577B;
$espanseMarsColor: #9F0058;
$espanseBeltColor: #C93B1C;
$espanseOutersColor: #682E4D;
$espanseEarthColor: #00577B;

body.expanse {
    background:url(/src/assets/background/expanse.jpg);
    background-size: cover;
    & h1, h2, h3, h4, h5, h6 {
        font-family: 'Venus Rising', sans-serif;
        text-transform: lowercase;
    }
    & .system-header {
        min-height: 35px;
    }
    & .age-header-btn {
        & button {
            border-color: var(--theme-primary);
            color: var(--theme-primary);
        }
        & .active {
            background-color: var(--theme-primary);
            border: 2px solid var(--theme-primary);
        }
        & .age-toggle-btn-icon {
            background-color:$expanseThemeColor;
        }
    }    
    & .age-btn {
        background-color: var(--theme-secondary);
        border: 2px solid var(--theme-primary);
        color: var(--theme-primary);
        border-radius: 0;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        position: relative;
        & .age-expanse-lrest {
            height: 16px;
            width: 16px;
            background-color: var(--theme-primary);
            mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M314 29.72l-11.4 11.35 32.5 32.54 11.4-11.39-32.5-32.5zm38.3 2.74c-3.5-.04-6.8.1-9.6.39 0 0-.1.01-.1.02l61.9 61.87 30.8-30.82c-19.8-17.03-43.2-26-63.5-29.57-5.6-.99-11-1.56-15.9-1.79-1.2-.05-2.4-.09-3.6-.1zm-51.1 32.69L65.15 301.3 108.9 345l4.9-4.9 6.4-6.3 58 58-11.3 11.3 43.8 43.8 236.2-236.1L301.2 65.15zm58.1 9.83l-11.4 11.39 77.7 77.73 11.4-11.4-77.7-77.72zm88.8 1.7l-30.8 30.82 61.9 62v-.2c.8-7.6.5-17.9-1.5-29.1-3.6-20.3-12.6-43.73-29.6-63.52zm1.7 88.82l-11.4 11.4 32.5 32.5 11.4-11.4-32.5-32.5zm-227.7 11.3l33.9 33.9 33.9-33.9 45.3 45.3-33.9 33.9 33.9 33.9-45.3 45.3-33.9-33.9-33.9 33.9-45.3-45.3 33.9-33.9-33.9-33.9 45.3-45.3zM40.94 302.6L29.7 314l55.14 55.1 11.31-11.3-55.21-55.2zm-8.08 40c0 .1-.01.1-.01.1-.78 7.6-.48 17.9 1.5 29.1 3.98 22.6 14.65 49.1 35.68 70.1 21.03 21.1 47.57 31.8 70.17 35.8 11.2 2 21.5 2.3 29.1 1.5h.2l-39.4-39.4-9.9 9.9-57.96-57.9 9.9-9.9-39.28-39.3zm87.34 16.6l-32.5 32.6 32.5 32.5 32.6-32.5-32.6-32.6zm34 56.6l-11.4 11.3 55.2 55.2 11.4-11.3-55.2-55.2z"/></svg>');
        }
        & .age-expanse-trest {
            height: 16px;
            width: 16px;
            background-color: var(--theme-primary);
            mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M23.113 18c3.425 32.11 13.432 59.227 28.08 82.438 20.956 33.203 50.994 58.33 83.807 80.37v-21.865c-27.563-19.53-51.623-41.236-68.584-68.11C53.43 70.252 44.41 46.607 41.136 18H23.112zM105 18v39.512L145.46 71h59.194L183 45.285V18h-78zm96 0v20.715L228.188 71h55.625L311 38.715V18H201zm128 0v27.285L307.346 71h59.193L407 57.514V18h-78zM153 89v334h206V89h-30.527a16 16 0 0 1-15.973 15.25A16 16 0 0 1 296.537 89H186.064c4.35 15.944 7.01 31.603 13.13 42.752 4 7.287 8.96 12.664 17.085 16.357 2.936 1.334 6.36 2.437 10.345 3.226a29.68 39.572 0 0 1-.305-5.336A29.68 39.572 0 0 1 256 106.428 29.68 39.572 0 0 1 285.68 146a29.68 39.572 0 0 1-21.186 37.885c5.498.232 11.014.828 16.32 1.914 8.974 1.39 15.104 5.588 20.174 12.384 5.07 6.797 8.75 16.362 11.178 27.472 4.403 20.152 4.68 44.91 4.697 66.7h-25.287l-6.453 97.806c-17.838 4.018-37.613 4.163-56.135-.017l-7.293-97.79h-26.558c.17-21.525 1.238-45.946 6.097-65.945 2.684-11.04 6.515-20.62 11.524-27.494 5.01-6.875 10.868-11.097 18.86-12.6a155.5 155.5 0 0 1 16.698-2.142 29.68 39.572 0 0 1-15.66-13.863c-9.147-.758-17.02-2.72-23.824-5.814-11.886-5.402-20.042-14.295-25.414-24.082-9.082-16.545-11.715-35.59-16.172-51.414H153zm341 8.44c-5.896 14.547-12.162 28.405-19.1 41.1-22.9 41.908-51.386 70.866-97.9 75.806v18.074c54.012-5.202 89.058-40.16 113.695-85.248a322.96 322.96 0 0 0 3.305-6.23v-43.5zM333.242 114.9a13.02 13.02 0 0 1 13.022 13.022 13.02 13.02 0 0 1-13.022 13.02 13.02 13.02 0 0 1-13.02-13.02 13.02 13.02 0 0 1 13.02-13.022zm-26.535 33.3a9.047 9.047 0 0 1 9.047 9.048 9.047 9.047 0 0 1-9.047 9.047 9.047 9.047 0 0 1-9.047-9.047 9.047 9.047 0 0 1 9.047-9.047zM494 224.036c-10.438 26.16-21.8 49.85-33.584 69-15.506 25.197-31.98 42.045-45.44 47.106-6.732 2.53-12.46 2.607-18.732.048-5.882-2.4-12.438-7.535-19.244-16.57v25.87c3.984 3.133 8.124 5.6 12.44 7.364 10.418 4.25 21.64 3.984 31.87.138 20.456-7.69 37.942-27.718 54.436-54.52 6.28-10.205 12.38-21.468 18.254-33.542v-44.893zM105 441v18h142v-18H105zm160 0v18h142v-18H265zM73 477v17h174v-17H73zm192 0v17h174v-17H265z"/></svg>');
        }
    }
    & .age-icon-btn, & .age-icon-btn-sm {
        background-color: none;
        color: var(--theme-primary);
    }
    & .age-input-label {
        color: var(--theme-primary);
    }
    & .age-level-label {
        background:var(--theme-primary);
        color: #FFF;
        font-family: 'Venus Rising',sans-serif;
    }
    & .age-levelup-btn {
        font-family: 'Venus Rising', sans-serif;
        text-transform: lowercase;
        background:var(--theme-primary);
        color:#FFF;
        margin:0px -5px;
        border:none;
        font-size:12px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 100%;
        padding:2px 5px;
    }
    & .age-label-heading, .age-container-heading {
        font-family: 'Venus Rising', sans-serif;
        text-transform: lowercase;
        background-color: var(--theme-primary);
    }
    & .age-checkbox-toggle input:checked + .slider {
        background-color: var(--theme-primary);
    }
    
    & .section-card {
        & h1,h2,h3,h4,h5 {
            font-family: 'Venus Rising', sans-serif;
        }
        & h5 {
            font-size: 1.1rem;
        }
        & .age-section-header, .age-character-name {            
            font-size: 1.4rem !important;
        }
        & .age-subsection-header {
            font-size: 1rem;
        }
        & .age-container-content {
            border-color: var(--theme-primary);
            & .age-container-heading {
                padding: 0 0 2px;
            }
            &.age-power-fatigue {
                border-color: #a3a3a3;
                cursor: not-allowed;
                & .age-container-heading {
                    background-color: #a3a3a3;
                }
                & .age-num-value {
                    color: #a3a3a3;
                }
            }
        }
        & .age-container-content::before,.age-container-content::after, .age-container-content-corner-top-right, .age-container-content-corner-bottom-left {
            display: none;
        }
        & .age-combat-unarmed .age-combat-unarmed__toggle, .age-tab .active .age-tab-icon {
            background-color: var(--theme-primary);
        }
        & .age-combat-section {
            background-color: var(--theme-primary);
        }
        & .age-tab {
            & button {
                display: flex;
                border-color: var(--theme-primary);               
                color: var(--theme-primary);
                background: #FFF;
                font-family:'Archive', serf;
                text-transform: capitalize;
                & .age-tab-label {
                    padding-top: 4px;
                }
            }
            & .active {
              background-color: var(--theme-primary); 
              & .age-tab-icon {
                background-color:#FFF;
              }
            }
            & .age-tab-icon {
                background-color: var(--theme-primary);
            }
            
        } 
        & .age-container-heading {
            font-family:'Spectrashell', serf;
            text-transform: capitalize;
            letter-spacing: 1.5px;
            font-size: 1.25rem;
        }
        & .age-defense {
            grid-template-columns: repeat(2, minmax(75px, 1fr));
        }
        & .age-actions-magic-mage {
            grid-template-columns: repeat(3, minmax(75px, 1fr));
            & .age-armor-stats {
                grid-column: span 3;
            }
        }
        & .age-orb-highlight {
            background-color: var(--theme-primary);
        }
        & .age-currency-container__coin {
                background-color: var(--theme-primary);
            }
    }  
    & .sidebar {
        & h2 {
            font-size: calc(.75rem + .9vw);
        }
        & .age-sidebar-list {
            list-style: none;
            padding-left: 5px;
            font-size:1.05rem;
            & li {
                margin-bottom: 5px;
            }
            &__title {
                font-family: 'Spectrashell', Times, serif;
                color: var(--theme-primary);
                font-weight: 400;
                margin-right: 5px;
                font-size: 1.45rem;
            }
        }
      }  
    & .confirm-btn {
    background: var(--theme-primary);
    }
    & .age-character-bio-value {
            .age-character-campaignMode {
            text-transform: capitalize;
            font-weight: 600;
            padding: 2px 10px;
            border-radius: 10px;
            width: fit-content;
        }   
    }
    & .age-pf-label {
        font-family:'Archive', serf;
        text-transform: capitalize;
    }
    & .age-quality-modifiers h3 span {
        font-size: 1.25rem;
    }
    & .ql-editor {
        background-color: #FFF;
    }
    & .age-modal .age-modal-header h3 {
        font-size: 1.5rem;;
    }
    &.earth {
        background:url(/src/assets/background/expanse-earth-blue.png);
        background-size: cover;
    }
    &.union {
        background:url(/src/assets/background/expanse-transportUnion.png);
        background-size: cover;
    }
    &.mars {
        background:url(/src/assets/background/expanse-mars-red.png);
        background-size: cover;
    }
    &.belters {
        background:url(/src/assets/background/expanse-black.png);
        background-size: cover;
    }
    // &.outers {
    //     background:url(/src/assets/background/expanse-purple.png);
    //     background-size: cover;
    // }
    .age-character-originFaction-logo {
        position: absolute;
        height: 75px;
        top: 65px;
        right: 10px;  
        & img {
            height: 75px;
            width: auto;
        }
    }
    .age-ship-crew-crew {
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M250.375 21.25c-38.192 0-68.97 30.744-68.97 68.938 0 38.193 30.778 68.968 68.97 68.968s68.938-30.775 68.938-68.97c0-38.192-30.746-68.936-68.938-68.936zm-2.625 33.78c.115-.003.23.005.344 0-26.85 53.803 52.427 66.62 40.656 9.032 4.272 1.793 8.76 3.838 13.53 6.157 3.816 15.258 3.55 30.828-2.342 46.093-46.683 11.007-54.054 11.028-98.375-1.594-5.345-14.747-6.03-29.762-2.344-44.5 19.356-9.562 34.072-14.612 48.53-15.19zM345.188 121c-1.26-.03-4.597.75-9.657 4.625-.006.006-.022-.006-.03 0-2.61 2.002-5.202 3.89-7.78 5.688-14.765 27.642-43.906 46.53-77.345 46.53-33.4 0-62.523-18.846-77.313-46.437-3.012-1.64-6.038-3.325-9.093-5.062-4.647-2.642-7.37-2.825-8.657-2.594-1.29.23-2.174.692-3.657 3-2.966 4.616-5.316 16.393-4.656 30.03.66 13.64 3.802 29.176 8.75 42.314 4.948 13.138 11.957 23.675 18.156 27.97 50.81 35.192 99.385 27.478 151.5-.533 6.386-3.43 13.912-13.767 19.125-27.468 5.215-13.7 8.4-30.338 8.94-44.843.538-14.506-2.292-26.98-5.22-31.095-1.464-2.058-1.8-2.096-3.063-2.125zM128.25 144.875c-20.632 9.24-36.958 25.827-49.656 48.594 4.41.183 8.78.842 13 1.968 12.22 3.26 22.512 10.243 30.062 19.375 4.587-5.04 9.565-9.652 14.938-13.844-4.718-13.954-7.597-29.14-8.28-43.282-.214-4.392-.26-8.68-.064-12.813zm242.72 24.25c-1.58 12.405-4.592 25.058-8.97 36.563-2.413 6.342-5.193 12.393-8.5 17.843 3.59 4.06 6.944 8.37 10.03 12.97 2.334-3.646 5.037-7.03 8.064-10.063v-.03c8.18-8.18 18.247-13.41 28.844-15.75-8.07-16.84-17.822-30.79-29.47-41.532zM76.31 212.155c-10.683.044-21.528 4.17-28.312 12.282-7.128 8.523-11.038 22.262-5.188 43.375.136-.093.27-.19.407-.28 8.11-5.473 18.242-8.57 29.186-8.063 3.648.168 7.398.733 11.188 1.75 10.622 2.845 19.157 8.536 25.28 15.717 7.454-9.93 9.21-20.875 7.314-31.156-2.767-14.987-13.905-28.145-29.407-32.28-3.373-.9-6.906-1.358-10.468-1.344zm336.5 15.782c-.71.013-1.413.045-2.125.094-9.48.653-18.78 4.502-25.875 11.595-9.865 9.887-14.718 25.822-9.875 39.063 3.82 10.44 13.742 20.698 34.97 26.187-.015-.177-.05-.354-.063-.53-.91-13.01 3.634-26.97 14.72-38.064l-.002-.03c7.774-7.767 16.973-12.288 26.25-14-4.87-11.43-13.457-18.44-23.312-21.938-4.712-1.67-9.704-2.465-14.688-2.375zm-101.437 25.97c-39.896 16.718-81.177 21.096-121.78 3.312l-10.064 39.31c8.908 2.755 16.417 7.827 22 14.25 7.355 8.462 11.61 18.985 12.876 29.814 25.23-39.572 70.19-24.214 81.906 29.187-30.148 24.312-31.025 78.51 2.47 99.97 13.98-17.626 34.203-29.69 55.312-32.75 3.026-.44 6.09-.66 9.156-.688 1.022-.008 2.042-.006 3.063.032 7.237.266 14.457 1.735 21.312 4.562 5.298-16.073 4.073-34.643-3.188-50.156-7.642 4.648-17.087 7.406-27.843 7.406-16.64 0-30.15-6.565-38.688-16.594C309.37 371.534 305.66 358.6 306 345.938c.34-12.662 4.69-25.31 13.25-35.156 1.444-1.66 3.026-3.222 4.72-4.686l-12.595-52.188zm146.938 16.218c-7.058.166-13.97 2.75-20.563 9.344-7.534 7.533-9.85 15.483-9.28 23.592.566 8.11 4.486 16.41 10.436 22.688 5.95 6.28 13.738 10.374 21.53 11 7.795.626 15.888-1.73 24.377-10.22 8.488-8.488 10.845-16.58 10.218-24.374-.625-7.793-4.72-15.58-11-21.53-6.278-5.95-14.577-9.87-22.686-10.438-1.014-.07-2.023-.087-3.03-.063zM70.156 278c-6.352-.102-11.73 1.835-16.47 5.03-6.738 4.547-11.973 12.083-14.436 20.376-2.463 8.293-2.136 17.063 1.22 24.125 3.353 7.064 9.465 12.925 21.06 16.033 11.597 3.107 19.784 1.064 26.22-3.375 6.436-4.44 11.112-11.868 13.125-20.282 2.013-8.413 1.25-17.568-2.313-24.875-3.563-7.305-9.52-12.99-19.812-15.75-2.573-.688-5.007-1.084-7.313-1.217-.432-.025-.857-.056-1.28-.063zm94.03 34.938c-10.654 0-17.916 3.958-23.25 10.093-5.33 6.137-8.422 14.76-8.655 23.408-.232 8.647 2.37 17.046 7.44 23 5.067 5.953 12.462 10.03 24.468 10.03 12.005 0 19.4-4.077 24.468-10.03 5.068-5.954 7.67-14.353 7.438-23-.233-8.648-3.355-17.27-8.688-23.407-5.333-6.134-12.563-10.092-23.22-10.092zm192.408 0c-10.656 0-17.917 3.958-23.25 10.093-5.333 6.137-8.424 14.76-8.656 23.408-.233 8.647 2.37 17.046 7.437 23 5.068 5.953 12.463 10.03 24.47 10.03 12.004 0 19.4-4.077 24.467-10.03 5.07-5.954 7.67-14.353 7.438-23-.233-8.648-3.355-17.27-8.688-23.407-5.332-6.134-12.563-10.092-23.218-10.092zM121.22 375.656c-15.115 16.632-20.037 41.93-13.75 63.313 5.18-1.573 10.525-2.43 15.874-2.626 1.02-.038 2.04-.04 3.062-.03 3.065.025 6.13.247 9.156.686 22.062 3.2 43.178 16.216 57.188 35.156 34.58-17.894 37.7-67.857 13.75-95.5-1.098 1.69-2.296 3.345-3.625 4.906-8.537 10.03-22.048 16.594-38.688 16.594-16.64 0-30.15-6.565-38.687-16.594-1.59-1.87-3.02-3.855-4.28-5.906zm2.81 79.313c-8.685.26-16.853 2.96-24.124 8.592-7.895 6.116-14.975 16.094-19.72 31.344h104.25c-10.196-20.804-31.273-36.464-51.56-39.406-2.995-.434-5.95-.618-8.845-.53zm239.407 0c-2.192.034-4.41.204-6.656.53-20.287 2.942-41.364 18.602-51.56 39.406h104.25c-4.745-15.25-11.824-25.228-19.72-31.344-7.27-5.63-15.44-8.333-24.125-8.593-.724-.023-1.457-.013-2.188 0z"/></svg>');
    }
    .age-ship-crew-stunt {
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M482.22 44.844l-50.533 46.25-21.937 57.22c-34.637 15.445-47.955 24.442-61.47 74.874l39.564-17.657-1.875 32.095 37.342 14.344 21.75-24.5 17.625 39.56c24.52-42.467 25.663-63.24 4.282-96.78l21.936-57.22-6.687-68.186zM389.093 263.22c-16.33 25.16-38.017 48.57-63.063 68.217-.022.018-.038.045-.06.063-37.302 23.693-83.27 29.138-118.095 15.688 16.236 15.056 37.635 20.705 59.156 19.156-49.41 14.874-102.32 9.118-139.624-14.28 14.142 19.334 34.493 31.22 56.97 36.592-58.93 3.328-117.894-19.792-162.44-84l.002 168.03c65.91 28.65 135.148 19.62 196.218-11.56l-16.97 35.78 88.126-85.03h-.093c2-1.796 3.973-3.6 5.936-5.438l-11.28 43.937 59.812-99.438c19.668-27.56 35.253-57.384 45.406-87.718z"/></svg>');
    }
    .age-ship-weapon-grapplers {
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M324.563 39.156c-1.138.025-2.285.144-3.438.407-9.223 2.097-15.004 11.275-12.906 20.5.006.032.022.06.03.093l-22.813 28.188-3.25 4 1.688 4.906 13.906 40.563-142.655 24.03c12.343 10.045 19.98 25.555 19.28 42.595-.146 3.584-.664 7.08-1.5 10.437l130.532-53.438-.125-.968c5.93 7.795 15.912 12.005 26.375 10.124 14.91-2.68 24.684-16.683 22.063-31.5-2.294-12.967-13.248-22.02-25.938-22.28-1.812-.04-3.636.1-5.5.436-3.173.57-6.11 1.66-8.75 3.156l-8.343-24.344 18.592-22.968c2.22.41 4.566.407 6.907-.125 9.223-2.1 15.003-11.277 12.905-20.5-1.835-8.07-9.098-13.487-17.063-13.314zm115 29.032c-1.277.04-2.56.218-3.844.562-4.19 1.123-7.587 3.714-9.814 7.063l-38.687-6.126-3.97-.624-3.188 2.437-38.656 29.688c6.234 2.39 11.882 6.11 16.53 10.874l30.314-23.28 37.656 5.968c3.954 5.975 11.386 9.05 18.688 7.094 9.138-2.45 14.542-11.83 12.094-20.97-1.99-7.422-8.55-12.396-15.844-12.686-.42-.017-.856-.014-1.28 0zm-39.188 57.906l-1.875.125-30.375 2.093c.874 2.415 1.57 4.92 2.03 7.53.66 3.716.842 7.42.595 11.032L397.938 145l28.03 9.5c.094.592.186 1.19.344 1.78 2.45 9.14 11.863 14.575 21 12.126 9.138-2.448 14.543-11.862 12.094-21-2.448-9.136-11.832-14.54-20.97-12.094-1.712.46-3.293 1.163-4.717 2.063l-31.564-10.688-1.78-.593zm-34.563 38.5c-2.905 5.672-6.976 10.723-11.937 14.78l42.594 23.564c-.117 1.813.065 3.678.56 5.53 2.45 9.14 11.832 14.574 20.97 12.126 9.138-2.45 14.542-11.862 12.094-21-2.448-9.136-11.833-14.542-20.97-12.094-.408.11-.793.238-1.187.375l-42.125-23.28zm-244.125 4.187c-15.272.178-28.172 10.388-32.156 24.532l63.626-4.125c-4.89-11.59-16.144-19.853-29.72-20.375-.584-.022-1.17-.037-1.75-.03zm33.626 39l-65.688 4.282c3.957 13.412 16.086 23.334 31 23.907 17.34.664 31.975-11.602 34.688-28.19zm8.53 26c-10.032 13.228-26.167 21.558-43.937 20.876-1.114-.043-2.217-.107-3.312-.22l53.47 84.19c8.282-19.396 26.015-33.782 47.155-37.532l-53.376-67.313zm63.813 85.064c-23.575.275-42.9 18.79-43.875 42.5-.28 6.824.998 13.33 3.5 19.187l71.907-49.217c-7.55-7.335-17.78-11.998-29.25-12.438-.768-.03-1.52-.04-2.28-.03zm41.844 28.03l-71.375 48.876c7.424 6.734 17.208 10.987 28.125 11.406 24.605.945 45.182-17.993 46.188-42.47.258-6.297-.803-12.316-2.938-17.81zm-86.406 60.188l-7.47 43.438H280l-9.03-41.563c-11.892 11.045-27.98 17.576-45.408 16.907-16.657-.64-31.6-7.736-42.468-18.78zm-38.53 62.125v24.75h169.374v-24.75H144.563z"/></svg>');
    }
    .age-ship-weapon-railguns {
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M144.256 43.072c-15.311.066-29.953 3.498-42.8 11.117-.639.38-1.274.772-1.905 1.178l14.19 12.623c25.682-12.925 64.8-6.102 98.026 14.306 5.014 3.08 9.855 6.45 14.479 10.059l21.646-5.346c-8.236-7.511-17.256-14.247-26.705-20.05-24.036-14.764-51.414-23.998-76.931-23.887zm-68.547 15.18l-25.24 47.11 29.695 14.13 25.748-34.377zm186.62 43.732l-19.948 4.928c7.106 7.428 13.273 15.483 18.175 23.953l18.809-3.479c-4.589-8.99-10.366-17.497-17.035-25.402zm-85.507 2.02l-13.547 11.851 69.123 78.996 12.754-12.754zm302.164 20.503l-26.607 13.856 8.314 15.965 26.608-13.858zm-428.613.744c-12.944 30.79-22.136 66.493-24.819 99.18-2.73 33.266.59 63.796 17.1 83.004 8.255 9.604 20.29 15.696 34.463 16.215 13.842.506 29.56-3.78 47.78-13.074l-8.315-15.965c-16.368 8.323-29.294 11.399-38.807 11.05-9.768-.357-16.13-3.745-21.47-9.958-10.681-12.427-15.347-38.877-12.81-69.8 2.472-30.117 11.139-64.082 23.153-92.907zm379.576 9.01l-106.9 55.674v51.861l128.146-66.738zm-143.576 10.133l-17.983 3.326c1.986 5.646 3.364 11.402 4.082 17.21h18.123a99.489 99.489 0 0 0-4.222-20.536zm-16.596 38.535l-42.728 42.729v67.271h78v-21.117c-6.572 4.486-14.495 7.117-23 7.117-22.537 0-41-18.463-41-41s18.462-41 41-41c8.505 0 16.428 2.632 23 7.117V182.93zm12.272 32c-12.81 0-23 10.191-23 23 0 12.81 10.19 23 23 23 12.809 0 23-10.19 23-23 0-12.809-10.191-23-23-23zm-73 34.375l-75.334 39.235 21.246 40.796 54.088-28.168zm34 61.625v76h46v-76zm-113.182 9.192c-32.77 18.212-51.334 33.848-59.8 49.992-4.4 8.389-5.74 17.206-4.044 25.217 1.696 8.01 6.093 14.896 11.658 20.857 11.131 11.923 27.253 20.999 43.524 29.512 2.542 1.33 5.067 2.616 7.6 3.914l16.04-12.031c-5.092-2.591-10.238-5.187-15.294-7.832-15.808-8.272-30.58-17.138-38.711-25.848-4.066-4.355-6.394-8.458-7.207-12.3-.814-3.844-.45-7.744 2.375-13.128 5.408-10.312 21.15-25.012 52.177-42.38zm97.182 84.808v16h78v-16h-71zm-54 34l-40 30h266l-40-30z"/></svg>');
    }
    .age-ship-weapon-pdc {
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M18.78 25.97c2.6 25.278 9.316 48.72 19.532 69.75l-21.218-6.564L73.53 146.72l-.843-1.782c16.737 17.29 36.797 31.38 59.438 41.593-13.546-18.845-21.597-41.677-22.03-69.28 27.78.35 50.396 8.56 69.25 22.063-.627-1.4-1.284-2.776-1.94-4.157l.72.625-34.438-86.655-2.53 33.844c-30.974-31.598-73.044-52.084-122.376-57zm236.814 31.593L217.22 160.875c-30.663 7.52-54.566 32.236-60.907 63.344l-.188-.22-106.563 39.563 74.313 74.312 93-8.03.375-.033 23.03-2.468-77.31-94.938 13.28-13.28 89.406 109.75 10.875 13.374-17.124 1.844-28.22 3.03c14.52 17.126 30.304 33.143 47.22 47.907 7.62-56.784 52.175-102.042 108.625-110.717-14.72-16.738-30.68-32.346-47.75-46.688l-2.78 26.125-1.844 17.125L321.28 270l-107.874-88.03 13.25-13.25 93.094 75.905 2.22-20.844 7.905-91.936-74.28-74.28zM401.53 301.625c-8.783.408-17.306 1.827-25.436 4.156l13.875 16.908c7.51-2.534 15.37-4.323 23.467-5.282-3.863-5.344-7.814-10.62-11.906-15.78zm-43.78 11.25c-7.323 3.61-14.204 7.994-20.5 13.063l15.75 17.28c5.92-4.876 12.318-9.16 19.125-12.812l-14.375-17.53zm68 22.438c-7.92.117-15.616 1.157-22.97 3.03l14.5 17.688c6.108-1.82 12.447-3.043 18.97-3.686-3.387-5.76-6.865-11.445-10.5-17.03zm-102.03 3.53c-6.713 7.584-12.4 16.116-16.845 25.344l17.313 14.125c4.28-7.958 9.44-15.37 15.375-22.093l-15.844-17.376zm60.467 6.282c-6.67 3.247-12.908 7.267-18.625 11.875l16.282 17.875c5.34-4.382 11.15-8.233 17.312-11.47l-14.97-18.28zm-32 24.938c-5.204 6.153-9.673 12.96-13.25 20.28l17.97 14.688c3.305-6.06 7.202-11.76 11.624-17l-16.342-17.967zm94.094.218v.22c-45.915 0-82.96 36.985-83.06 82.875 39.248 20.8 81.966 35.93 127.06 44.313-8.284-45.328-23.3-88.145-44-127.407zM299.94 382.626c-2.38 8.6-3.743 17.625-3.97 26.938 4.937 3.885 9.96 7.664 15.063 11.343.93-8.58 2.75-16.88 5.44-24.812l-16.533-13.47zm32.156 26.25c-2 7.785-3.073 15.96-3.094 24.375 5.28 3.43 10.632 6.727 16.063 9.938.72-6.992 2.156-13.776 4.218-20.282l-17.186-14.03z"/></svg>');
    }
    .age-ship-weapon-torpedoes {
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23000" d="M17.34 17.38v34.08C37.24 85.91 61.4 120.5 95.03 151c6.97 24.6 23.57 43.7 46.27 53.9-5.9-8.2-9.4-18.1-9.6-30.1 12 .1 21.9 3.7 30.1 9.6-10.1-22.5-28.7-39-52.9-46-40.28-36.2-66.64-78.82-89.03-121.02zm26.96 0C98.65 32.32 173.5 71.74 240.5 124.5l16.3-11.6C205.6 71.81 149.6 38.58 99.97 17.38zm110.1 0c28.4 8.14 52.8 19.57 75.3 32.83 13 21.96 34.1 36.14 58.6 40.15-7.8-6.38-13.7-15.05-17-26.58 11.7-2.98 22.1-2.09 31.5 1.46-15.5-19.08-37.8-30.23-63-30.76-10.3-6.07-21-11.82-32.3-17.1zm171.3 4.96L321 71.62c-6.1 10.46-12.1 20.92-18.2 31.38-14.6 11.2-26.3 18.7-40.6 29l39.6 22.8h.1l38.3-13.9c37.3 28.7 84.7 43.6 133.5 39.8-21.2-44.6-57.8-78.2-101.5-96.03l-7-39.5zM194.9 148.8l-17.2 46.4c-8.6 8.4-17.2 17.1-25.7 25.7-14.9 5.8-31.2 11.8-46.6 17.5l32.3 32.3 40.6-3.5c28.6 37.3 70.5 64 118.6 72.9-8.9-48.5-35.6-90.5-73.1-119l3.4-40zm123.3 20l-18.2 6.6c17.1 17.7 33.5 38.1 44.3 52.6 1.1 24.4 12.1 46.1 30.6 61.3-3.5-9.5-4.3-19.9-1.4-31.6 11.6 3.3 20.2 9.3 26.6 17.1-4.1-25.4-19-47-42.3-59.9-12-15.9-25.3-31.3-39.6-46.1zM17.34 247.2v49.7c14.05 24.6 33.51 44.5 56.99 61 12.88 23.6 34.67 38.8 60.27 43-7.8-6.4-13.8-15.1-17.1-26.6 11.7-3 22.2-2.1 31.6 1.5-15-18.5-36.3-29.5-60.47-30.7-35.62-23.9-60.18-54.2-71.29-97.9zM441.3 249l-28.7 40.4c-10.5 6-20.9 12.1-31.4 18.1-16.1 1.9-33.2 3.3-49.6 4.8l22.9 39.6 40.1 7.1c17.9 43.5 51.5 80.1 95.7 101.2 4-49.2-10.9-96.7-39.9-133.9l13.7-37.7zm-269.4 83.9l-4.6 49.3c-6.1 10.3-12.2 20.9-18.2 31.4-13 9.6-27 19.4-40.5 28.9l39.6 22.9 38.3-13.9c37.3 28.7 84.6 43.6 133.4 39.8-21.1-44.7-57.7-78.3-101.4-96.1l-7-39.5z"/></svg>');
    }
}

