@font-face {
    font-family: 'Spectrashell';
    font-style: normal;
    font-weight: 400;
    src: local('Spectrashell'), url('https://fonts.cdnfonts.com/s/18161/spectrashell.woff') format('woff');
}

@font-face{
    font-family:'Venus Rising';
    font-style:normal;
    font-weight:400;
    src:local('Venus Rising'),url('https://fonts.cdnfonts.com/s/6237/venus rising.woff') format('woff')
}
$ageExpanseColor: #3c002d;