body {
    & main {
        & .player-sheet-wrapper {
            width: 100%;
            margin: auto;
            display: grid;
            align-items: stretch;
            gap: 24px;      
            max-width: 100vw;
            & .age-level-label {
              
            }
          }
    }
}