// This file compiles to host.css in the /public folder. IT MUST HAVE THIS SPECIFIC NAME TO WORK.
@use "common";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,700&display=swap");