// Reset

.sheet {
  // button {
  //   display: inline-block;
  //   margin: 0;
  //   border: 0;
  //   color: inherit;
  //   font-weight: inherit;
  //   font-size: inherit;
  //   padding: 0;
  //   width: auto;
  //   max-width: 100%;
  //   overflow: visible;
  //   background: transparent;
  //   cursor: pointer;

  //   &.link-btn {
  //     padding: 0.25rem;
  //     transition: color 0.2s ease-in-out;
  //     &:hover {
  //       color: var(--sheet-primary);
  //     }
  //     font-weight: 600;
  //   }

  //   &.action-btn {
  //     display: inline-block;
  //     padding: 0.25rem;
  //     transition: background-color 0.2s ease-in-out;
  //     border-radius: 0.25rem;
  //     background-color: var(--sheet-primary);
  //     color: white;
  //     &:hover {
  //       background-color: var(--sheet-secondary);
  //       color: black;
  //     }
  //   }
  // }

  // input {
  //   border-top: none;
  //   border-left: none;
  //   border-right: none;
  //   border-bottom: 1px solid black;
  //   padding: 0 0.5rem;
  //   margin-bottom: 0.25rem;
  //   border-top-right-radius: 0.25rem;
  //   border-top-left-radius: 0.25rem;

  //   &:disabled {
  //     background: lightgrey;
  //     cursor: not-allowed;
  //   }
  // }
}
